*{
  transition: none!important;
}
.row{
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}

.column1{
  width: 27%;
  height:80vh;
  float: left;
  background: rgb(255, 255, 255);
  /* margin: 1%; */
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rgb(233, 255, 108) rgb(255, 255, 255) !important;
  scrollbar-width: thin !important;
}
.column1::-webkit-scrollbar {
  width: 8px;
}


.column1::-webkit-scrollbar-thumb {
  background: #63fff2;
}

.column2{
  position: relative;
  width: 61%;
  height:80vh;
  float: left;
  background: rgb(255, 255, 255);
  /* margin: 1%; */
}

.noselect{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    padding: 15px 20px 15px 20px;
    line-height: 0;
    border-radius: 3px;
    border: 1px solid rgb(189, 189, 185);
    box-shadow: 1px 2px 2px #888888;
}

ul{
  display: flex;
  width: 100%;
}
.head{
  display: flex;
  height: 50px;
  width: 100%;
  padding: 13px;
  background: rgb(255, 254, 254);
  line-height: 30px;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
  font-size: 15px;
  line-height: 24px;
}
.body{
  min-width: 100%;
  min-height:70vh;
  background: #ececec;
}
li{
  width: 50%;
  height: 40px;
  margin: 3px;
  padding: 10px;
  background: rgb(255, 255, 255);
  list-style: none;
  border-radius: 3px;
  font-size: 15px;
   line-height: 20px;
  cursor: pointer;
  max-height: 40px;
  word-break: break-all;
  overflow: hidden;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
}
li:hover,.chat:hover{
  color: #fff;
  background: #001aff6c;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
  transition: none!important;
}

.chat{
  position: relative;
  display: flex;
  height: 50px;
  width: 96%;
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 5px;
  border-radius: 3px;
  background: rgb(255, 254, 254);
  line-height: 40px;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
}
.unread{
  position: absolute;
  top: 32%;
  right: 40px;
  background: rgb(255 0 128);
  border-radius: 50px;
  width: 40px;
  height: 10px;
  font-size: 12px;
  padding: 10px;
  color: #fff;
  line-height: 0px;
  text-align: center;
}

.flag,.unflag{
  width: 40px;
  height: 40px;
  min-width: 40px;
  text-align: center;

}
.flag{
  color: gold;
  font-size: 20px;
}
.unflag{
  color: #808080;
  font-size: 20px;
}
h3{
  width: 96%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 0px 10px 0px;
}
h4{
  width: 100%;
}

.active{
  background: rgba(6, 52, 255, 0.363);
  color: #fff;

}

.online{
  color: #5fff02;
}

.deskshow{
  width: 100%;
}
.mobshow{
  display: none!important;
  width: 100%;
}
.star{
  color: gold;
}


@media (max-width: 700px) {

  .deskshow{
    display: none!important;
    width: 100%;
  }
  .mobshow{
    display: block!important;
    width: 100%;
  }
  .column1{
    width: 100%;
  }
  .column2{
    display: none;
  }
}
