<div class="Chat">
  <div class="Left-side-chat">
    <div class="Chat-container">
      <ul>
        <!-- *appHasRole='["admin"]' -->
        <li (click)="getchats()">Chats</li>
        <li  (click)="getflagchats()">Flag Chats</li>
      </ul>
      <div class="Chat-list" *ngIf="(messageService.chatUser$ | async).length > 0">


        <div class="follower conversation" *ngFor="let user of (messageService.chatUser$ | async)"
        [ngClass]="{'active' : active === user.id}">
          <div (click)="loadmessage(user.chatid,user.id)" >
            <div *ngIf="isUserOnline(user.id)" class="online-dot"></div>
            <img
              src="{{user.image || './assets/user.png'}}"
              alt="Profile"
              class="followerImage"

            />
             <span *ngIf="user.unread >= 1" class="unread">{{user.unread}}</span>


            <div class="name" >
              <span>{{user.name}}</span>


            </div>
          </div>

          <span >

            <div  *ngIf="!flagshow(user.flag)" (click)="flagit(user.chatid)" class="unflag">+</div>
            <div *ngIf="flagshow(user.flag)"  (click)="unflagchat(user.chatid)"  class="flag">-</div>


          </span>
           </div>
        <hr />




      </div>
    </div>
  </div>

  <span *ngIf="viewmessage">
    <app-message [ChatId]="ChatId" [ReceiverId]="ReceiverId" ></app-message>
  </span>


</div>
