

<div (click)="alerttoggle()"  *ngIf="alert" class="backdrop "></div>

<div (click)="ratealerttoggle()"  *ngIf="rateingalert" class="backdrop "></div>

<div *ngIf="alert" class="alert-box">

    <div class="details3" *ngIf="selectedorder">
      <div class="text">
        <h3>Order Address</h3>
        <br>
        <p>Order Id: {{selectedorder.id}}</p>
        <p>Name: {{selectedorder.name}}</p>
        <p>Address: {{selectedorder.address}}</p>
        <p>City: {{selectedorder.city}}</p>
        <p>State: {{selectedorder.state}}</p>
        <p>Phone: {{selectedorder.phone}}</p>
        <br>
        <p>Delevary Charge: {{selectedorder.delivery}}</p>
        <p>Sub Total: {{selectedorder.subtotal}}</p>
        <p>Total: {{selectedorder.total}}</p>
        <br>
        <p *ngIf="selectedorder.ispaid == 1">Status: Paid</p>
        <p *ngIf="selectedorder.ispaid == 0">Status: Not Paid</p>
      </div>
    </div>

</div>



   <!-- for ratting -->

   <div *ngIf="rateingalert" class="alert-box">

    <div class="details3" >
      <div class="text">
        {{reviewitem.name}}
        <div class="rate">
          <ul>
            <li  *ngFor="let i of [1,2,3,4,5]" [ngClass]="review.ratting >= i ? 'ratting' : 'noratting'" (click)="setratting(i)">
              <i class="star fa fa-star" aria-hidden="true"></i>
            </li>
          </ul>
        </div>

        <div class="reviewcontent">
          <ngx-editor
            [editor]="rateditor"
            [(ngModel)]="review.review"
            required
            minlength="20"
            [disabled]="false">
      </ngx-editor>
        </div>

        <div class="rateimg">

          <div class="margin-top">
            <span class="upload" *ngIf="progress > 0" >
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>

          <ul>
            <li>
              <div  class="files" *ngIf="review.image1 == '' "   >
                <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,1)" style="display:none;">
                <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
              </div>

              <div  class="files" *ngIf="review.image1 !== '' ">
                <p ><img src="{{imglink+review.image1}}" alt=""></p>
                <div class="delete">
                  <p (click)="deleteimage(review.image1,1)">Delete</p>
                </div>
              </div>

            </li>


            <li>
              <div  class="files" *ngIf="review.image2 == '' "   >
                <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,2)" style="display:none;">
                <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
              </div>

              <div  class="files" *ngIf="review.image2 !== '' ">
                <p ><img src="{{imglink+review.image2}}" alt=""></p>
                <div class="delete">
                  <p (click)="deleteimage(review.image2,2)">Delete</p>
                </div>
              </div>

            </li>


            <li>
              <div  class="files" *ngIf="review.image3 == '' "   >
                <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,3)" style="display:none;">
                <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
              </div>

              <div  class="files" *ngIf="review.image3 !== '' ">
                <p ><img src="{{imglink+review.image3}}" alt=""></p>
                <div class="delete">
                  <p (click)="deleteimage(review.image3,3)">Delete</p>
                </div>
              </div>

            </li>


            <li>
              <div  class="files" *ngIf="review.image4 == '' "   >
                <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,4)" style="display:none;">
                <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
              </div>

              <div  class="files" *ngIf="review.image4 !== '' ">
                <p ><img src="{{imglink+review.image4}}" alt=""></p>
                <div class="delete">
                  <p (click)="deleteimage(review.image4,4)">Delete</p>
                </div>
              </div>

            </li>


          </ul>
        </div>

       <div class="revbtn">
        <button (click)="createreview()">Create Review</button>
       </div>

      </div>
    </div>

</div>

<div class="row">
  <div class="column">

  <ul>
    <li *ngFor="let item of orders" >
      <div class="text">
        <h3>{{item.status}}</h3>
        <p>Id: {{item.id}}</p>
        <p>Today: 10 pm</p>
        <button class="dbtn" (click)="showdetails(item)">Show Details</button>
      </div>
        <div class="details" [ngClass]="item.id == selectedorder.id ? 'view' : ''">
          <div class="button">
            <button (click)="alerttoggle()" >Address</button>
            <button *ngIf="selectedorder.ispaid == 0" routerLink="/payment/{{selectedorder.id}}" routerLinkActive="router-link-active" >Pay Now</button>
            <button *ngIf="selectedorder.ispaid == 1">Order Paid</button>
          </div>
          <ul class="productul">
            <li class="reviewli" *ngFor="let item of item.orderItems">

                <div class="sm">
                  <img src="{{imglink+item.img}}" alt="">
                 </div>
                 <div class="sm2">
                  <div class="text2">
                  <p>{{item.name}}</p>
                  <p>{{item.price }}*{{item.quantity}}= ৳{{item.price * item.quantity}}</p>
                 </div>
                </div>


                <button class="reviewbtn">Add Review</button>
            </li>
          </ul>

          <div class="footer">
            <p>Delivary Cost: {{item.delivery}}</p>
            <p>Subtotal: {{item.subtotal}}</p>
            <p>Total: {{item.total}}$</p>
          </div>

        </div>
    </li>
  </ul>

  </div>
  <div class="column ">
    <div class="dcontent" *ngIf="selectedorder">
      <div class="details2">
        <div class="text">
          <h3>{{selectedorder.status}}</h3>
          <p>Id: {{selectedorder.id}}</p>
          <p>Today: 10 pm</p>
        </div>
        <div class="button">
          <button (click)="alerttoggle()" >Address</button>
          <button *ngIf="selectedorder.ispaid == 0" routerLink="/payment/{{selectedorder.id}}" routerLinkActive="router-link-active" >Pay Now</button>
          <button *ngIf="selectedorder.ispaid == 1">Order Paid</button>
        </div>
        <ul>
          <li class="reviewli"  *ngFor="let item of selectedorder.orderItems">
              <div class="sm">
                <img src="{{imglink+item.img}}" alt="">
               </div>
               <div class="sm2">
                <div class="text2">
                <p>{{item.name}}</p>
                <p>{{item.price }}*{{item.quantity}}= ৳{{item.price * item.quantity}}</p>
              </div>
              </div>

              <button class="reviewbtn" (click)="addreview(item.id)" >Add Review</button>
          </li>
        </ul>
        <div class="footer">
          <p>Delivary Cost: {{selectedorder.delivery}}</p>
          <p>Subtotal: {{selectedorder.subtotal}}</p>
          <p>Total: {{selectedorder.total}}$</p>
        </div>
      </div>
    </div>
  </div>
</div>



