
.container{
  padding-top: 10px;
  width: 90%;
}
.topnav {
  overflow: hidden;
  margin-bottom: 30px;
}


form{
  padding: 10px;
}
input{
  width: 200px;
  height: 40px;
}
button{
  padding: 10px;
}
.bg{
  background: #04AA6D;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  background-color: #04AA6D;
  margin: 2px;
  border-radius: 3px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
}
.column{
  width: 50%;
  height:100%;
  float: left;
  margin: 0 auto;
}







#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
h2{
  margin: 5px 0px 5px 0px;
}
h4{
  padding: 5px 0px 5px 0px;
  background-color: crimson;
  margin: 5px;
  color: white;
}
.padding{
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin2{
  margin: 30px 0px 30px 0px;
}

/* #customers tr:nth-child(even){background-color: #ffffff;} */

/* #customers tr {
  background-color: rgb(233, 233, 233);
} */

#customers tr:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}





#customers2 {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
margin: 0 auto;
word-wrap: break-word;
margin: 5px 0px 5px 0px;
background: #00ccc2;
color: white;
border-radius: 3px;
box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
cursor: pointer;
}

#customers2 td, #customers2 th {
 border-bottom: 2px solid rgb(224, 245, 248);
 border-top: 2px solid rgb(225, 249, 253);;
 border-left: 2px solid rgb(230, 255, 255);;
 padding: 10px;
 font-size: 15px;
 text-align: center;
}


#customers2 td:nth-child(even){
border-left: none;
border-right: 2px solid rgb(227, 249, 255);;
}


#customers2 tr:hover {
background: #11cac1;
box-shadow: 0px 3px 8px rgb(49, 47, 47);
}





a{
  cursor: pointer;
}



  /* Responsive columns */
  @media screen and (max-width: 600px) {

    .container{
      width: 100%;
    }
    .topnav a {
      padding: 5px 15px 6px 15px;
      margin: 2px;
    }
    .pointer{
      cursor: pointer;
    }
    .column{
      width: 100%;
      height:100%;
    }
    .displanone{
      display: none;
    }
  }

  .select{
    display: none;
  }
  select{
    width: 80%;
    border-radius: 5px;
    background: rgb(160, 248, 244);
    color: white;
    border: 2px solid rgb(0, 204, 255);
  }
  select:checked{
    border: 2px solid rgb(0, 204, 255);
  }
  option{
    background: #ffc400;
    color: white;
  }

  img{
    width: 70px;
  }


  form {
    width: 80%;
    margin: 0 auto;
  }

  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }

  .padding{
    padding-bottom: 400px;
  }

  form input,textarea,select {
    width: 100%;
    padding: 7px;
    margin: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }


  @media screen and (max-width: 650px) {
   /* .bar{
     display: none;
   } */
   .select{
     display: block;
   }
   .container{
    width: 100%;
   }
  }
