<!-- <div class="topnav">
  <img routerLink='/' class="logo" src="../assets/logo.png" alt="logo">
  <a routerLinkActive="active" class="active" >Home</a>
  <span *ngIf="(accountService.currentUser$ | async) === null">
    <a routerLinkActive="active" routerLink='/login'>Login</a>
  </span>


    <form #SearchForm="ngForm" (ngSubmit)="searchProduct()" novalidate>
      <span>
        <input id="search" type="search" [(ngModel)]="search" type="text" name="search" required minlength="3" placeholder="Search..">
        <button  class="searchbutton" [disabled]="SearchForm.invalid" type="submit" >Search</button>
      </span>
    </form>

  <a routerLinkActive="active" routerLink='/msg'>Message</a>
  <a routerLinkActive="active" routerLink='/products'>Get Products</a>
  <a routerLink="/dash" >Dashboard</a>


</div> -->







<header class="header">

  <div class="logoclass">
    <img routerLink='/' class="favicon" src="favicon.ico" alt="logo">
    <img routerLink='/' class="logo" src="../assets/logo.png" alt="logo">
  </div>



  <nav [ngClass]="catelength <=4 ? 'navbar' : 'none'">

      <span *ngFor="let item of category" >

        <a class="dropdown" >

          <a [routerLink]="['/shop', {cate: item.id}]" >{{item.name}}</a>

        <span *ngIf="item.subcate.length > 0" >
        <a class="dropbtn">
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <div class="row">
            <div class="column" *ngFor="let sub of item.subcate">
              <a [routerLink]="['/shop', {subcate: sub.id}]" >{{sub.name}}</a>
            </div>
          </div>
        </div>
      </span>
      </a>

      </span>

  </nav>


  <div class="icons">
      <a id="search-btn" routerLink='/mobilecate'  class="category fas fa-bars"> </a>
      <a id="search-btn" routerLink='/search' class=" fas fa-search"></a>

      <ng-container *ngIf="!(basketService.basket$ | async) as basket">
        <a routerLink='/cart' class="fas fa-shopping-cart" ></a>
      </ng-container>

      <ng-container *ngIf="(basketService.basket$ | async) as basket">
      <a routerLink='/cart' class="cart fas fa-shopping-cart" >

          <a href="#" class="tag" *ngIf="basket.items.length == 1">{{basket.items.length}} item</a>
          <a href="#" class="tag" *ngIf="basket.items.length > 1">{{basket.items.length}} items</a>
      </a>
     </ng-container>

      <a [routerLink]="['/shop', {fav: '+'}]"  href="#" class="heart fas fa-heart"></a>

      <div class="user"  routerLink="/dash">
        <a id="menu-btn" class="fas fa-user"></a>
        <p> {{'Sign In' | slice:0:10}}</p>
      </div>


  </div>

</header>












<footer class="footer">


      <a id="search-btn" class="fas fa-bars"></a>
      <a href="#" class="fas fa-heart"></a>
      <a id="menu-btn" class="fas fa-user"></a>
      <a id="search-btn"  class="fas fa-comment"></a>


</footer>

<div *appHasRole='["user"]' [ngClass]="btnclick == true ? 'msgboxv' : 'msgbox' ">

  <div class="box">
    <div class="boxtitle">
      <button class="msgbtn" (click)="addclass()"><i class="fa fa-envelope" aria-hidden="true"></i> message</button>

      <button *ngIf="btnclick == true" (click)="addclass()" class="crosbtn">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <app-messagebox *ngIf="btnclick == true"></app-messagebox>

  </div>

</div>

