
<!-- contact section starts  -->

<section class="contact" id="contact">

  <!-- <h1 class="heading"> <span>contact</span> us </h1> -->

  <div class="icons-container">

      <div class="icons">
          <!-- <i class="fas fa-map-marker-alt"></i> -->
          <h3>address</h3>
          <p>jogeshwari, mumbai, india - 400104</p>
      </div>

      <div class="icons">
          <!-- <i class="fas fa-envelope"></i> -->
          <h3>Contact</h3>
          <p>shaikhanas@gmail.com</p>
          <p>shaikhanas@gmail.com</p>
          <p>+123-456-7890</p>
      </div>

      <div class="icons">
          <!-- <i class="fas fa-phone"></i> -->
          <h3>Social</h3>
          <div class="social">
            
            <a href="" class="fas fa-phone"></a>
            <a href="" class="fas fa-phone"></a>
            <a href="" class="fas fa-phone"></a>

          </div>
      </div>

      <div class="icons">
        <!-- <i class="fas fa-phone"></i> -->
        <h3>Apps</h3>

        <div class="apps">
          <a href="">Android</a>
          <a href="">iPhone</a>
        </div>

    </div>

  </div>


</section>

<!-- contact section ends -->
