
<!-- contact section starts  -->

<section class="contact" id="contact">

  <!-- <h1 class="heading"> <span>contact</span> us </h1> -->

  <div class="icons-container">

    <div class="content">
      <div class="icons">
          <!-- <i class="fas fa-map-marker-alt"></i> -->
          <h3>address</h3>
          <p>jogeshwari, mumbai, india - 400104</p>
      </div>

      <div class="icons">
          <!-- <i class="fas fa-envelope"></i> -->
          <h3>Contact</h3>
          <p>shaikhanas@gmail.com</p>
          <p>shaikhanas@gmail.com</p>
          <p>+123-456-7890</p>
      </div>


      <div class="icons">
        <!-- <i class="fas fa-phone"></i> -->
        <h3>DOWNLOADS OUR APPS</h3>
        <br>
        <div class="apps">
          <div class="play">
           <img src="assets/play.png" alt="">
          </div>

          <div class="play">
            <img src="assets/apple.png" alt="">
           </div>
        </div>

      </div>

  </div>



   <div class="icons">
    <div class="social">

      <a href="" class="fa fa-phone"></a>
      <a href="" class="fa fa-phone"></a>
      <a href="" class="fa fa-phone"></a>

    </div>
    <p class="mp">Copyright By Monpur 2022</p>
  </div>

  <p class="p">Copyright By Monpur 2022</p>

  </div>

</section>

<!-- contact section ends -->
