<div class="login-box">

<h1>Login</h1>
<form  #LoginForm="ngForm" (ngSubmit)="login()">
  <label>Phone Number</label>
  <input
    [(ngModel)]="loginmodel.pnumber"
    name="phone"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "number"
    maxlength = "11"
    placeholder="Number"
    />
  <label>Password</label>
  <input
        [(ngModel)]="loginmodel.password"
        label="Password"
        placeholder="********"
        name="password"
        type="text" />

        <button
        type="submit"
        class=""
        >
          Sign in
        </button>

</form>
<p class="para-2">
  Not have an account? <a routerLink='/signup' class='text-link'> SignUp here </a>
</p>
</div>
