<app-navbar></app-navbar>


<div class="login-box">


<div class="header">
  <h1 routerLink='/login'>Login</h1>
  <h1 routerLink='/signup'>SignUp</h1>
</div>
<!--
<ng-container *ngIf="user !== null">

  <br>

  <p>{{user.name}}</p>
  <p>{{user.email}}</p>

  <button (click)="setac()">Log In</button>

</ng-container> -->

<ng-container>
<form  #LoginForm="ngForm" (ngSubmit)="login()">
  <label>Phone Number</label>
  <input
    [(ngModel)]="loginmodel.pnumber"
    name="phone"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "number"
    maxlength = "11"
    placeholder="Number"
    />
  <label>Password</label>
  <input
        [(ngModel)]="loginmodel.password"
        label="Password"
        placeholder="********"
        name="password"
        type="text" />

        <p class="f" routerLink='/forgot'>Forgot Password?</p>

        <button
        type="submit"
        class=""
        >
          Sign in
        </button>

</form>
<br><br>
<div class="header">
  <p>
    Don't have an account?
  </p>
  <p class="f" routerLink='/signup'> Signup</p>
</div>

<div class="line"></div>

<div class="social">

  <asl-google-signin-button *ngIf="!loggedIn" type="standard"
   size="large" shape="square" width="245" theme="filled_blue" ></asl-google-signin-button>
   
</div>
</ng-container>
</div>
