
<app-navbar></app-navbar>



<!--


<div class="container">
  <div class="title">Checkout</div>
  <div class="content">
    <form #OrderForm="ngForm" (ngSubmit)="createorder()">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Full Name</span>
          <input [(ngModel)]="orderCreate.name" name="name" minlength="3" type="text" placeholder="Enter your name" required>
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input [(ngModel)]="orderCreate.phone" name="number" type="text" placeholder="Enter your number" required>
        </div>
        <div class="input-box">
          <span class="details">Address</span>
          <input  [(ngModel)]="orderCreate.address" name="address" type="text" placeholder="542 W. 15th Street" required>
        </div>
        <div class="input-box">
          <span class="details">City</span>
          <input [(ngModel)]="orderCreate.city" name="city" type="text" placeholder="New York" required>
        </div>
        <div class="input-box">
          <span class="details">State</span>
          <input [(ngModel)]="orderCreate.state" name="state" type="text" placeholder="state" required>
        </div>
        <div class="input-box">
          <span class="details">Zip</span>
          <input [(ngModel)]="orderCreate.zip" name="zip" type="text" placeholder="zip" required>
        </div>
      </div>
      <div class="gender-details">
        <input [checked]="true" type="radio" name="terms" id="dot-3">
        <div class="category">
        <label for="dot-3">
          <span class="dot three"></span>
          <a class="terms">Terms and Conditions </a>
        </label>
        </div>
      </div>
      <div class="button">
        <input [disabled]="OrderForm.invalid" type="submit" value="Create and Pay">
      </div>
    </form>
  </div>
</div> -->




<!-- order section starts  -->
<!--
<section class="order" id="order">

  <h3 class="sub-heading"> order now </h3>
  <h1 class="heading"> free and fast </h1>

  <form  #OrderForm="ngForm" (ngSubmit)="createorder()">

      <div class="inputBox">
          <div class="input">
              <span>your name</span>
              <input [(ngModel)]="orderCreate.name" name="name" minlength="3" required type="text" placeholder="enter your name">
          </div>
          <div class="input">
              <span>Phone Number</span>
              <input  [(ngModel)]="orderCreate.phone" name="number" required type="text" placeholder="enter your number">
          </div>
      </div>
      <div class="inputBox">

        <div class="input">
          <span>Email</span>
          <input [(ngModel)]="orderCreate.email" type="text" placeholder="enter Email">
         </div>
          <div class="input">
              <span>City</span>
              <input [(ngModel)]="orderCreate.city" type="text" placeholder="enter City">
          </div>

      </div>
      <div class="inputBox">
          <div class="input">
          <span>state</span>
          <input [(ngModel)]="orderCreate.state" type="test" placeholder="extra with food">
          </div>
          <div class="input">
              <span>zip</span>
              <input [(ngModel)]="orderCreate.zip"  type="text" placeholder="how many orders">
          </div>
      </div>
      <div class="inputBox">
          <div class="input">
              <span>your address</span>
              <textarea [(ngModel)]="orderCreate.address" minlength="3" required name="address" placeholder="enter your address" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="input">
              <span>your message</span>
              <textarea name="message" [(ngModel)]="orderCreate.message" minlength="3" required placeholder="enter your message" id="" cols="30" rows="10"></textarea>
          </div>
      </div>


      <div class="terms">
        <input type="radio" id="terms" name="terms" value="terms" checked>
        <label for="html">Terms and Conditions</label><br>
      </div>

      <input type="submit" [disabled]="OrderForm.invalid" value="order now" class="btn">

  </form>

</section> -->

<!-- order section ends -->
