
<div>
  <app-navbar></app-navbar>
</div>


    <!-- [ngClass]="catelength > 4 ? 'column1' : 'none' " -->

<section class="banner-container padding-top">

  <div class="row" *ngIf="showbanner">


    <div [ngClass]="catelength <=4 ? 'column3' : 'none' " >
        <app-carousel [images] = "images" [content] = "true" [autoSlide]="true" [controls]="true"></app-carousel>
    </div>

   <div [ngClass]="catelength > 4 ? '' : 'none' ">

    <div class="column1">
      <div class="navbar" (mouseover)='over2()' (mouseout)='out2()' >
      <ng-container *ngFor="let item of category">

        <a  (mouseover)='over(item)' (mouseout)='out()' [routerLink]="['/shop', {cate: item.id}]" >{{item.name}}</a>

      </ng-container>
      </div>

      <div *ngIf="scate.length > 0" (mouseover)='over2()' (mouseout)='out2()'  [ngClass]="showhide == true ? 'submenu' : 'submenunone'" >
        <h1 *ngIf="catename != '' " [routerLink]="['/shop', {cate: cateid}]">{{catename}}</h1>
        <a  *ngFor="let item of scate" [routerLink]="['/shop', {subcate: item.id}]" >{{item.name}}</a>
      </div>


    </div>

    <div class="column2" >
      <app-carousel [images] = "images" [content] = "true" [autoSlide]="true" [controls]="true"></app-carousel>
    </div>
   </div>

  </div>


</section>


<section class="padding">


   <!-- <div class="owlcate">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of allcategory">

        <div class="content" *ngIf="!item.cateid" [routerLink]="['/shop', {cate: item.id}]">
          <div class="img">
            <img src="{{imglink+item.image}}" alt="">
           </div>

           <div class="details">
             <p>{{item.name}}</p>
             </div>
        </div>


        <div class="content" *ngIf="item.cateid" [routerLink]="['/shop', {subcate: item.id}]">
          <div class="img">
            <img src="{{imglink+item.image}}" alt="">
           </div>

           <div class="details">
             <p>{{item.name}}</p>
             </div>
        </div>

      </ng-template>

    </owl-carousel-o>
   </div> -->


  <h1 class="heading">Featcher <span>products</span> </h1>


  <app-shop [filters]="false" [favh]="false"></app-shop>




</section>

<app-footer></app-footer>


