

<div (click)="alerttoggle()"  *ngIf="alert" class="backdrop "></div>
<div *ngIf="alert" class="alert-box">

    <div class="details3" *ngIf="selectedorder">
      <div class="text">
        <h3>Order Address</h3>
        <br>
        <p>Order Id: {{selectedorder.id}}</p>
        <p>Name: {{selectedorder.name}}</p>
        <p>Address: {{selectedorder.address}}</p>
        <p>City: {{selectedorder.city}}</p>
        <p>State: {{selectedorder.state}}</p>
        <p>Phone: {{selectedorder.phone}}</p>
        <br>
        <p>Delevary Charge: {{selectedorder.delivery}}</p>
        <p>Sub Total: {{selectedorder.subtotal}}</p>
        <p>Total: {{selectedorder.total}}</p>
        <br>
        <p *ngIf="selectedorder.ispaid == 1">Status: Paid</p>
        <p *ngIf="selectedorder.ispaid == 0">Status: Not Paid</p>
      </div>
    </div>

</div>

<div class="row">
  <div class="column">

    <div class="selectbox" >
      <div class="select">
        <select name="format" [(ngModel)]="sortby" (change)="onsortchange()" id="format">
           <!-- <option selected disabled>Choose a book format</option> -->
           <option *ngFor="let s of sorts" value="{{ s.name }}" >{{ s.name }}</option>
        </select>
     </div>
    </div>


  <!-- <h1>My Order</h1> -->

  <ul *ngIf="orders.length > 0">
    <li *ngFor="let item of orders" >
      <div class="text">
        <div class="status">
          <h3>{{item.status}}</h3>
          <h3 class="paid" *ngIf="item.ispaid == 1">Paid</h3>
          <h3 class="notpaid"  *ngIf="item.ispaid == 0">Not Paid</h3>
        </div>
        <p>Id: {{item.id}}</p>
        <p>Today: 10 pm</p>
        <button (click)="showdetails(item)">Show Details</button>
      </div>
        <div class="details" [ngClass]="item.id == selectedorder.id ? 'view' : ''">
          <span id="print-section">
            <ul>
              <li class="reviewli" *ngFor="let item of item.orderItems">

                  <div class="sm">
                    <img src="{{imglink+item.img}}" alt="">
                   </div>
                   <div class="sm2">
                    <div class="text2">
                    <p>{{item.name}}</p>
                    <p>{{item.price }}*{{item.quantity}}= ৳{{item.price * item.quantity}}</p>
                   </div>
                  </div>


                  <button class="reviewbtn">Add Review</button>
              </li>
            </ul>

            <div class="footer">
              <p>Delivary Cost: {{item.delivery}}</p>
              <p>Subtotal: {{item.subtotal}}</p>
              <p>Total: {{item.total}}$</p>
            </div>
          </span>


        <div class="button">

          <div class="footerselectbox" >
            <div class="select">
              <select name="format" [(ngModel)]="status" (change)="changeStatus()" id="format">
                 <!-- <option selected disabled>Choose a book format</option> -->
                 <option *ngFor="let s of setstatus" value="{{ s.name }}" >{{ s.name }}</option>
              </select>
           </div>
          </div>

          <button class="btn">Message</button>

          <button printSectionId="print-section"
                styleSheetFile='assets/css/style.css'
                ngxPrint>Print</button>

        </div>

        </div>


    </li>
  </ul>

  </div>
  <div class="column">
    <div class="dcontent" *ngIf="orders.length > 0">
      <div class="scroll">
      <div class="details2" id="print-section">
        <div class="text">
          <div class="status">
            <h3>{{selectedorder.status}}</h3>
            <h3 class="paid"  *ngIf="selectedorder.ispaid == 1">Paid</h3>
            <h3 class="notpaid"  *ngIf="selectedorder.ispaid == 0">Not Paid</h3>
            <h3 class="notpaid"  *ngIf="selectedorder.ispaid == 0">Guest User</h3>
          </div>
          <p>Id: {{selectedorder.id}}</p>
          <p>Today: 10 pm</p>
        </div>

        <ul>
          <li class=""  *ngFor="let item of selectedorder.orderItems">
              <div class="sm">
                <img src="{{imglink+item.img}}" alt="">
               </div>
               <div class="sm2">
                <div class="text2">
                <p>{{item.name}}</p>
                <p>{{item.price }}*{{item.quantity}}= ৳{{item.price * item.quantity}}</p>
              </div>
              </div>
          </li>
        </ul>
        <div class="footer">
          <p>Delivary Cost: {{selectedorder.delivery}}</p>
          <p>Subtotal: {{selectedorder.subtotal}}</p>
          <p>Total: {{selectedorder.total}}$</p>
        </div>
      </div>

      <div class="button">

        <div class="footerselectbox" >
          <div class="select">
            <select name="format" [(ngModel)]="status" (change)="changeStatus()" id="format">
               <!-- <option selected disabled>Choose a book format</option> -->
               <option *ngFor="let s of setstatus" value="{{ s.name }}" >{{ s.name }}</option>
            </select>
         </div>
        </div>

        <button class="btn">Message</button>

        <button
              printTitle="Order Details"
              printSectionId="print-section"
              [useExistingCss]="true"
              ngxPrint>Print</button>

      </div>
    </div>
    </div>
  </div>
</div>



