
<div (click)="alerttoggle()"  *ngIf="alert" class="backdrop "></div>
<div (click)="msgtoggle()"  *ngIf="alert3" class="backdrop "></div>
<div *ngIf="alert" class="alert-box">

    <div class="details" *ngIf="selectedorder || sorder">
      <div class="text4">

        <p>Changing Order Status To: {{status}}</p>
        <p>Order Id: {{selectedorder?.id}}</p>
        <br>
        <button (click)="changeStatus()">Continue</button> <button (click)="alerttoggle()">No</button>

      </div>
    </div>

</div>

<div *ngIf="alert2" class="alert-box">

  <div class="details" *ngIf="sorder">
    <div class="text4">

      <p>Changing Order Status To: {{status}}</p>
      <p>Order Id: {{sorder?.id}}</p>
      <br>
      <button (click)="schangeStatus()">Continue</button> <button (click)="alerttoggle2()">No</button>

    </div>
  </div>

</div>


<div *ngIf="alert3 && msgsendid !== null" class="alert-box2">

  <app-sendbox [ReceiverId]="msgsendid"></app-sendbox>

</div>


<div class="row">

  <div class="header">

    <div class="lefth">
      <h1>Total Pending 34</h1>
    </div>
    <div>
      <div class="flexContainer">
        <input type="text" [(ngModel)]="search" placeholder="Type order id" class="inputField">
        <button (click)="searchorder()">SEARCH</button>
      </div>
    </div>

  </div>

  <!-- search order -->

  <ng-container *ngIf="sheader">

  <div class="sheader" >
    <h2 *ngIf="!notfound">Search Order Found</h2>
    <h2 *ngIf="notfound">No Order Found</h2>
    <span (click)="hideorder()" class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>
  </div>

  <div class="column" *ngIf="sorder !== null">
    <div class="text">
      <div class="status">
        <h3>{{sorder.status}}</h3>
        <h3 class="paid" *ngIf="sorder.ispaid == 1">Paid</h3>
        <h3 class="notpaid"  *ngIf="sorder.ispaid == 0">Not Paid</h3>
        <h3 class="paid" >30 minite ago</h3>
      </div>
      <div class="status">
        <p>Order Id: {{sorder.id}}</p>
        <p>|Total Item: {{sorder.orderItems.length}}</p>
      </div>

      </div>

    <div class="items view">

      <div class="details" >

       <div class="part">
         <div class="text2">
           <p>Order Id: {{sorder.id}}</p>
           <p>Name: {{sorder.name}}</p>
           <p>Address: {{sorder.address}}</p>
           <p>City: {{sorder.city}}</p>
           <p>State: {{sorder.state}}</p>
           <p>Phone: {{sorder.phone}}</p>
           <br>
           <p>Delevary Charge: {{sorder.delivery}}</p>
           <p>Sub Total: {{sorder.subtotal}}</p>
           <p>Total: {{sorder.total}}</p>
           <br>
           <p *ngIf="sorder.ispaid == 1">Status: Paid</p>
           <p *ngIf="sorder.ispaid == 0">Status: Not Paid</p>
         </div>
       </div>

       <div class="part">
         <div class="text2">

           <div class="box" *ngFor="let item of sorder.orderItems">
             <img src="{{imglink+item.img}}" alt="">
             <div class="text3">
               <p>eerer 4rc4rc4r</p>
               <p>Sku:44f4f</p>
               <p>Sku:44f4f Vari:wefwe wv </p>
               <p>4c4r 4rfc4r{{item.price }}*{{item.quantity}}= ৳{{item.price * item.quantity}}</p>
             </div>
           </div>

           <div class="footer">
             <br>
             <p>Delivary Cost: {{sorder.delivery}}</p>
             <p>Subtotal: {{sorder.subtotal}}</p>
             <p>Total: {{sorder.total}}$</p>
           </div>

         </div>
       </div>

      </div>


       <div class="handle">

           <div class="select">
             <select name="format" [(ngModel)]="status2" (change)="alerttoggle2()" id="format">
                <option *ngFor="let s of setstatus" value="{{ s.name }}" >{{ s.name }}</option>
             </select>
          </div>

         <button class="btn" (click)="msgtoggle()">Message</button>

         <a class="btn"  routerLink="/print/{{sorder.id}}" target="_blank">Print</a>

       </div>

       </div>

  </div>
  <br>
</ng-container>


  <!-- main orders -->
  <div class="column" *ngFor="let item of orders" >
    <div class="text">
      <div class="status">
        <h3>{{item.status}}</h3>
        <h3 class="paid" *ngIf="item.ispaid == 1">Paid</h3>
        <h3 class="notpaid"  *ngIf="item.ispaid == 0">Not Paid</h3>
        <h3 class="paid" >30 minite ago</h3>
      </div>
      <div class="status">
      <p>Order Id: {{item.id}}</p>
      <p>|Total Item: {{item.orderItems.length}}</p>
      </div>

      <button *ngIf="item?.id !== selectedorder?.id" (click)="showdetails(item)" >Show Details</button>
      <button *ngIf="item?.id == selectedorder?.id" (click)="showdetails(item)" >Hide Details</button>

    </div>
      <div class="items" [ngClass]="item?.id == selectedorder?.id ? 'view' : ''">


     <div class="details" *ngIf="item?.id == selectedorder?.id">

      <div class="part">
        <div class="text2">
          <p>Order Id: {{selectedorder.id}}</p>
          <p>Name: {{selectedorder.name}}</p>
          <p>Address: {{selectedorder.address}}</p>
          <p>City: {{selectedorder.city}}</p>
          <p>State: {{selectedorder.state}}</p>
          <p>Phone: {{selectedorder.phone}}</p>
          <br>
          <p>Delevary Charge: {{selectedorder.delivery}}</p>
          <p>Sub Total: {{selectedorder.subtotal}}</p>
          <p>Total: {{selectedorder.total}}</p>
          <br>
          <p *ngIf="selectedorder.ispaid == 1">Status: Paid</p>
          <p *ngIf="selectedorder.ispaid == 0">Status: Not Paid</p>
        </div>
      </div>

      <div class="part">
        <div class="text2">

          <div class="box" *ngFor="let item of selectedorder.orderItems">
            <img src="{{imglink+item.img}}" alt="">
            <div class="text3">
              <p>eerer 4rc4rc4r</p>
              <p>Sku:44f4f</p>
              <p>Sku:44f4f Vari:wefwe wv </p>
              <p>4c4r 4rfc4r{{item.price }}*{{item.quantity}}= ৳{{item.price * item.quantity}}</p>
            </div>
          </div>

          <div class="footer">
            <br>
            <p>Delivary Cost: {{selectedorder.delivery}}</p>
            <p>Subtotal: {{selectedorder.subtotal}}</p>
            <p>Total: {{selectedorder.total}}$</p>
          </div>

        </div>
      </div>

     </div>


      <div class="handle">

          <div class="select">
            <select name="format" [(ngModel)]="status" (change)="alerttoggle()" id="format">
               <option *ngFor="let s of setstatus" value="{{ s.name }}" >{{ s.name }}</option>
            </select>
         </div>

        <a class="btn" (click)="msgtoggle(item.customerid)">Message</a>

        <a class="btn"  routerLink="/print/{{item.id}}" target="_blank">Print</a>

      </div>

      </div>


  </div>

</div>
