*{
  font-size: large;
}
 .row{
  width: 100%;
  display: table;
  padding-bottom: 600px;
}

.column {
  display: table;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  color: #919191;
  font-weight: bold;
}

.details{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: table;
  border: 1px solid rgb(189, 189, 185);
  border-top: none;
  box-shadow: 1px 2px 2px #888888;
  min-height: 20vh;
}
.details2{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: table;
  border: 1px solid rgb(189, 189, 185);
  border-top: none;
  box-shadow: 1px 2px 2px #888888;
  min-height: 20vh;
}

.leftcolumn{
  width: 50%;
  float: left;
  padding: 5px;
  padding-top: 10px;
}
.rightcolumn{
  width: 50%;
  float: left;
  padding: 5px;
  padding-top: 10px;
  font-weight: normal;
}

.title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  padding: 8px;
  background: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  font-size: 15px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid rgb(189, 189, 185);
  border-bottom: none;
  box-shadow: 1px 2px 2px #888888;
}

h1{
  padding: 13px;
  font-size: 15px;
  border-bottom: none;
  line-height: 10px;

}










.details label {
  display: flex;
  font-size: 15px;
}
.lables{
  margin-left: 5px;
}
.details input,textarea,select {

  appearance:none;
  outline:0;
  box-shadow:none;
  background: #ffffff;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:rgb(15, 15, 15);
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
  display: flex;
  width: 50%;
  height: 2.3em;
  line-height: 2.3;
  overflow: hidden;
  border-radius: .25em;
  margin: 10px 0px 10px 0px;
}
select{
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}



.editor{
  width: 70%;
  margin-top: 10px;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
ul li{
  text-decoration: none;
  list-style: none;
  margin-right: 2%;
  margin-top: 10px;
}
.vari ul{
  display: initial;
}
.vari li{
  display: inline-block;
}
.lilinput{
  padding: 15px!important;
  width: 130px!important;
  height: 0px!important;
}
.vari a,.a{
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
  color: cadetblue;
  cursor: pointer;
}
.variadd{
  display: flex;
  flex-direction: column;
}
.files{
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
img{
  width: 100%;
  height: auto;
}

.delete p{
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background: chocolate;
  color: white;
}
.margin-top{
  margin-bottom: 10px;
}


.sminput{
  max-width: 133px;
  float: left;
  margin-left: 4px;
  margin-bottom: 10px;
  display: flex;
}
.sminput p{
  padding: 3px;
  line-height: 17px;
  border: 1px solid rgb(189, 189, 185);
 }






.alert-box {
  position: fixed;
  display: table;
  left: 0;
  right: 0;
  width: 70%;
  background: #fff;
  min-height: 400px;
  margin: 0 auto;
  z-index: 2;
  border-radius: 5px;
}
.alert-details{
  width: 100%;
  height: 85vh;
  padding: 20px;
  color: rgb(143, 143, 143);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding: 10px;
  padding-bottom: 200px;
}


.backdrop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: rgba(129, 129, 129, 0.322);
}

.alert-footer{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content:space-between;
}
.button{
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background: #FFF;
  border: 1px solid rgb(194, 194, 194);
}
button{
  padding: 10px;
  background: #FFF;
  border: 1px solid rgb(194, 194, 194);
}
.vari{
  min-height: 200px;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
}
.flexContainer {
  display: flex;
  max-width: 300px;
}
.justifyleft{
  justify-content: flex-start;
}
.flexContainer button{
  margin: 10px 0px 10px 0px;
  border-radius: 0px 5px 5px 0px;
}

.inputField {
  background: #ffffff;
  padding: 0 0.5em;
  color: rgb(15, 15, 15);
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid rgb(189, 189, 185);
  width: 50%;
  height: 43px;
  border-radius: 5px 0px 0px 5px;
  font-weight: 100;
  margin: 10px 0px 10px 0px;
  min-width: 100px;
}

.sminput input{
  height: 32px!important;
  text-align: center;
}
.sminput button{
  padding: 0px 10px 0px 10px!important;
}








.variations {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  word-wrap: break-word;
}
.margin{
  margin-top: 10px!important;
}
.variations input {
  margin:0;
  width: 100%;
  border-radius: none;
  padding: 10px;
}
.variations h4 {
  margin-left: 4px;
}

.variations table{
  width: 100%;
}

.variations td, .variations th {
  border: 1px solid #ddd;
  /* padding: 8px; */
}
.td{
  padding: 10px;
}

.variations tr:nth-child(even){background-color: #ffffff;} */

.variations tr {
  background-color: rgb(233, 233, 233);
}

.variations  tr:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}

.variations  th {
  padding: 10px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}




@media (max-width: 900px) {
  .details input,textarea,select,.editor{
    width: 100%;
  }
}

@media (max-width: 580px) {
  li{
    width: 30%;
  }
  .files{
    width: 100%;
  }
  .column{
    width: 100%;
  }
  .variadd{
    flex-direction: column;
  }
  .alert-box{
    width:97%;
    margin: 3px;
  }
  .left,.right{
    width: 100%;
  }
}



