

 <div (click)="alerttoggle()"  *ngIf="alert" class="backdrop "></div>
 <div *ngIf="alert" class="alert-box">

  <div class="alert-details">
    <h3 >Add variations</h3>


  <!-- part one -->

  <div class="vari">
    <span *ngIf="vari1added">
      <div class="variadd">
        <div class="left">
          <ul>
            <li> <p>{{vari1.name}}</p></li>
            <li> <a (click)="renamevari1()">Rename</a></li>
            <li> <a (click)="deletevariname1()">Delete</a></li>
          </ul>
        </div>
        <div class="right">
          <div class="flexContainer justifyleft">
            <input [(ngModel)]="values1.name" type="text" placeholder="Name the options" class="inputField">
            <button (click)="addvari1()">ADD</button>
          </div>

          <div class="values">
            <div class="sminput" *ngFor="let item of vari1.values; let i = index ">
              <p>{{item.name}}</p>
              <button (click)="deletevari1(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
          </div>

        </div>
      </div>
    </span>
    <span *ngIf="!vari1added">
      <label for="">Add a variation(1st)</label>
      <div class="flexContainer">
        <input [(ngModel)]="vari1.name" type="text" placeholder="Name the variation" class="inputField">
        <button (click)="addvariation1()">ADD</button>
      </div>
    </span>
  </div>




   <!-- part two -->


  <div class="vari" *ngIf="vari1added">
    <span *ngIf="vari2added">
      <div class="variadd">
        <div class="left">
          <ul>
            <li> <p>{{vari2.name}}</p></li>
            <li> <a (click)="renamevari2()">Rename</a></li>
            <li> <a (click)="deletevariname2()">Delete</a></li>
          </ul>

        </div>
        <div class="right">
          <div class="flexContainer justifyleft">
            <input [(ngModel)]="values2.name" type="text" placeholder="Name the options" class="inputField">
            <button (click)="addvari2()">ADD</button>
          </div>

          <div class="sminput" *ngFor="let item of vari2.values; let i = index ">
            <p>{{item.name}}</p>
            <button (click)="deletevari2(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>

        </div>
      </div>
    </span>
    <span *ngIf="!vari2added">
      <label for="">Add a variation(2nd)</label>
      <div class="flexContainer">
        <input [(ngModel)]="vari2.name" type="text" placeholder="Name the variation" class="inputField">
        <button (click)="addvariation2()">ADD</button>
      </div>
    </span>
  </div>




  <div class="alert-footer">
    <button (click)="alerttoggle()">Cancel</button>
    <button *ngIf="vari1added" (click)="saveandcontinue()">Save and Continue</button>
  </div>
  </div>
 </div>


<div class="row">





<!-- Variations Section -->
  <div class="column">
    <div class="title">
      <h1>Variations</h1>
      <button *ngIf="vari1added" (click)="alerttoggle()">Edit</button>
    </div>

    <div class="details2">

      <button *ngIf="!vari1added" (click)="alerttoggle()" class="button">Add variations</button>

      <!-- variation one -->
      <div class="variations" *ngIf="vari1.values.length > 0 && mixedvari.values.length == 0">
        <h4>{{vari1.name}}</h4>
        <h1 *ngIf="vari1.values.length == 0">No Variation</h1>
        <table  *ngIf="vari1.values.length > 0">
          <tr>
            <th>Options</th>
            <th>
              Price
            </th>
            <th>
              Quantity
            </th>
            <th>
              Sku
            </th>
          </tr>
          <tr *ngFor="let item of vari1.values ; let i = index">
            <td class="td">{{item.name}}</td>
            <td>
              <input
              [(ngModel)]="vari1.values[i].price"
              required
              placeholder="Original Price"
              name="orgprice"
              oninput="this.value =
              !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
              type="number" />
            </td>
            <td>
              <input
          [(ngModel)]="vari1.values[i].quantity"
          required
          placeholder="Original Price"
          name="orgprice"
          oninput="this.value =
          !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
          type="number" />
            </td>
          <td>
          <input
          [(ngModel)]="vari1.values[i].sku"
          required
          placeholder="hassku1"
          name="hassku1"
          type="text" />
            </td>
          </tr>

        </table>

      </div>



      <!-- multi variation start -->


      <div class="variations" *ngIf="mixedvari.values.length > 0">

        <table>
          <tr>
            <th>{{mixedvari.vari1}}</th>
            <th>{{mixedvari.vari2}}</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sku</th>

          </tr>

          <tr *ngFor="let item of mixedvari.values ; let i = index">
            <td class="td">{{item.vari1name}}</td>
            <td class="td">{{item.vari2name}}</td>

            <td>
              <input
              (change)="inputchange()"
              [(ngModel)]="mixedvari.values[i].price"
              required
              placeholder="Original Price"
              name="orgprice"
              oninput="this.value =
              !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
              type="number" />
            </td>
            <td>
            <input
            (change)="inputchange()"
            [(ngModel)]="mixedvari.values[i].quantity"
          required
          placeholder="Original Price"
          name="orgprice"
          oninput="this.value =
          !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
          type="number" />
            </td>
            <td>
              <input
              (change)="inputchange()"
              [(ngModel)]="mixedvari.values[i].sku"
            required
            placeholder="sku"
            name="sku"
            type="text" />
              </td>
          </tr>

        </table>

      </div>


       <!-- multi variation end -->

    </div>
  </div>















  <!-- Inventory and pricing Section-->
  <div class="column">
    <div class="title">
      <h1>Inventory and pricing</h1>
    </div>

    <div class="details">
      <ng-container *ngIf="vari1.values.length > 0 || vari2.values.length > 0 || mixedvari.values.length > 0">
        <a class="a" (click)="alerttoggle()">Set Price On Variation</a>
      </ng-container>
      <br>


      <ng-container *ngIf="vari1.values.length == 0 && vari2.values.length == 0 && mixedvari.values.length == 0">
        <label>Price</label>
      <input
          [(ngModel)]="product.price"
          required
          placeholder="Original Price"
          name="orgprice"
          oninput="this.value =
          !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
          type="number" />
      </ng-container>


      <ng-container *ngIf="vari1.values.length > 0 || vari2.values.length > 0 || mixedvari.values.length > 0">
        <br>
        <a class="a" (click)="alerttoggle()">Set Quantity On Variation</a>
      </ng-container>
      <br>

      <ng-container *ngIf="vari1.values.length == 0 && vari2.values.length == 0 && mixedvari.values.length == 0">
        <label>Quantity</label>
        <input
                [(ngModel)]="product.quantity"
                required
                placeholder="Quantity"
                name="quantity"
                oninput="this.value =
                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                type="number" />
      </ng-container>

      <br>

      <ng-container >
        <label>SKU</label>
        <input
                [(ngModel)]="product.sku"
                placeholder="sku"
                name="sku"
                type="text" />
      </ng-container>

    </div>
  </div>












  <!-- Set Discount Section-->
  <div class="column">

    <div class="title">
      <h1>Set Discount</h1>
    </div>

    <div class="details">


      <div class="leftcolumn">

        <ng-container *ngIf="product.price == null && vari1.values.length == 0 && mixedvari.values.length == 0">

          <a>Set Price First</a>

        </ng-container>

        <ng-container *ngIf="product.price  !== null || vari1.values.length > 0 || mixedvari.values.length > 0">

          <label>Set Discount</label>
          <input
                    [(ngModel)]="product.discount"
                    required
                    (change)="discountchange()"
                    (input)="discountchange()"
                    placeholder="Discount"
                    name="Discount"
                    type="number"
                    onKeyUp="if(this.value>100){this.value='100';}else if(this.value<0){this.value='0';}"
                    class="lilinput" />

        </ng-container>

      </div>


      <div class="rightcolumn">
        <div class="discountbody">



          <!-- only price -->
          <ng-container *ngIf="vari1.values.length == 0 && mixedvari.values.length == 0">

            <ng-container *ngIf="product.price !== null">
              <label >Product Price: {{ (this.product.price)?.toFixed(0) }}</label>

              <ng-container *ngIf="product.discount !== null">
              <label >Product Discount: {{ (this.product.discount)?.toFixed(0) }}%</label>
              <label >Discounted Price: {{ (this.product.price * ( (100-this.product.discount) / 100 ))?.toFixed(0) }}</label>
              </ng-container>

            </ng-container>
          </ng-container>

          <!-- for vari1 -->
          <ng-container *ngIf="vari1.values.length > 0 && mixedvari.values.length == 0">
            <label >Product Variation: {{vari1?.name}}</label>

            <ng-container *ngIf="product.discount !== null">
            <label >Product Discount: {{ (this.product.discount)?.toFixed(0) }}%</label>

            <ng-container *ngFor="let item of vari1?.values">

              <label>{{item.name}} Price: {{(item.price)?.toFixed(0) }} Discounted Price: {{(item.price * ( (100-this.product.discount) / 100 ))?.toFixed(0)}}</label>

            </ng-container>
          </ng-container>
          </ng-container>


           <!-- for multivari -->

          <ng-container *ngIf="mixedvari.values.length > 0">

            <label >Product Variation: {{vari1?.name}} and {{vari2?.name}}</label>


            <ng-container *ngIf="product.discount !== null">
            <label >Product Discount: {{(this.product.discount)?.toFixed(0)}}%</label>

            <ng-container *ngFor="let item of this.mixedvari.values">

              <label >{{item.vari1name}}+{{item.vari2name}} Price: {{(item.price)?.toFixed(0)}} Discounted Price: {{(item.price * ( (100-this.product.discount) / 100 ))?.toFixed(0)}}</label>

            </ng-container>
          </ng-container>
          </ng-container>



        </div>
      </div>

    </div>
  </div>












<!-- Personalization Section-->
  <div class="column">
    <div class="title">
      <h1>Personalization</h1>
    </div>

    <div class="details2">

      <div class="inputs">
        <input type="checkbox"  (change)="onFeatureToggle($event)" [checked]="product.personalization !== ''" value="personalization" id="personalization" name="personalization">
        <label  class="lables" for="personalization">Add Personalization</label>
      </div>



      <div class="inputs"  *ngIf="showpersonalization">
        <input type="checkbox" (change)="onFeatureToggle($event)" [checked]="product.isp == 'true' " value="ispersonalization" id="ispersonalization" name="ispersonalization">
        <label  class="lables" for="ispersonalization">Optional</label>
      </div>

      <div class="editor" *ngIf="showpersonalization">
        <ngx-editor
            [editor]="editor2"
            [(ngModel)]="product.personalization"
            required
            minlength="20"
            [disabled]="false">
      </ngx-editor>
      </div>

    </div>

  </div>













  <!-- Select Category section -->
  <div class="column">
    <div class="title">
      <h1>Select Category</h1>
    </div>

    <div class="details">

      <label>Product Name</label>
      <select (change)="onCateChange()" [(ngModel)]="product.cateid" class="form-control"  name="SubCate" >
        <option value="0">Select</option>
        <option *ngFor="let s of categoryes" value="{{ s.id }}" >{{ s.name }}</option>
      </select>


      <label>Product Name</label>
      <select [(ngModel)]="product.subcateid" class="form-control" name="SubSubCate" >
        <option value="0">Select</option>
        <option *ngFor="let ss of subcategoryes" value="{{ ss.id }}">{{ ss.name }}</option>
      </select>

    </div>

  </div>


  <div class="column">
    <div class="title">
      <h1>Name and Details</h1>
    </div>

    <div class="details">
      <label>Product Name</label>
      <input
          [(ngModel)]="product.name"
          placeholder="Product Name"
          name="name"
          type="text"
          required  />

      <label>Details</label>
      <div class="editor">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor
            [editor]="editor"
            [(ngModel)]="product.details"
            required
            minlength="20"
            [disabled]="false">
      </ngx-editor>
      </div>

    </div>
  </div>


  <div class="column">
    <div class="title">
      <h1>Images and Video</h1>
    </div>


    <div class="details">

      <div class="margin-top">
        <span class="upload" *ngIf="progress > 0" >
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>




      <label>Images</label>



  <ul class="imgul">
    <li>
      <div  class="files" *ngIf="product.file1 == '' "   >
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,1)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div  class="files" *ngIf="product.file1 !== '' ">
        <p ><img src="{{imglink+product.file1}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file1,1)">Delete</p>
        </div>
      </div>

    </li>


    <li>
      <div  class="files" *ngIf="product.file2 == '' " >
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,2)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div class="files" *ngIf="product.file2 !== '' ">
        <p ><img src="{{imglink+product.file2}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file2,2)">Delete</p>
        </div>
      </div>

    </li>


    <li>
      <div class="files" *ngIf="product.file3 == '' " >
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,3)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div class="files" *ngIf="product.file3 !== '' ">
        <p ><img src="{{imglink+product.file3}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file3,3)">Delete</p>
        </div>
      </div>

    </li>

    <li>
      <div  *ngIf="product.file4 == '' " class="files">
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,4)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div class="files" *ngIf="product.file4 !== '' ">
        <p ><img src="{{imglink+product.file4}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file4,4)">Delete</p>
        </div>
      </div>

    </li>

    <li>
      <div  *ngIf="product.file5 == '' " class="files" >
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,5)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div *ngIf="product.file5 !== '' " class="files">
        <p ><img src="{{imglink+product.file5}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file5,5)">Delete</p>
        </div>
      </div>

    </li>

    <li>
      <div  *ngIf="product.file6 == '' " class="files">
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,6)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div *ngIf="product.file6 !== '' " class="files">
        <p ><img src="{{imglink+product.file6}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file6,6)">Delete</p>
        </div>
      </div>

    </li>

    <li>
      <div  *ngIf="product.file7 == '' " class="files">
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,7)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div *ngIf="product.file7 !== '' " class="files">
        <p ><img src="{{imglink+product.file7}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file7,7)">Delete</p>
        </div>
      </div>

    </li>

    <li>
      <div  *ngIf="product.file8 == '' " class="files">
        <input accept=".jpg,.png,.jpeg,.webp" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,8)" style="display:none;">
        <img class="upload"  (click)="file.click()" src="./assets/upload.png" alt="">
      </div>

      <div *ngIf="product.file8 !== '' " class="files">
        <p ><img src="{{imglink+product.file8}}" alt=""></p>
        <div class="delete">
          <p (click)="deleteimage(product.file8,8)">Delete</p>
        </div>
      </div>

    </li>

  </ul>


    </div>

  </div>



  <div class="column">
    <button *ngIf="product.id == 0" (click)="createProduct()" >Create Product</button>
    <button *ngIf="product.id !== 0"  (click)="createProduct()" >Update Product</button>
  </div>




</div>
