/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(37, 253, 253, 0.877);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0cceffad;
}

h1{
  font-size: 30px;
}
h2,p{
  margin: 5px 0px 5px 0px;
  font-size: 20px;
  word-wrap: break-word;
}
h3{
  margin: 10px 0px 5px 0px;
  font-size: 15px;
}
.ratting i{
  color: gold;
}
.reviews p{
  font-size: 15px;
}

.reviews li{
  margin: 0px 5px 5px 5px;
}

.row{
  width: 100%;
  display: flex;
}
.clolumn_full{
  width: 100%;
  margin-top: 40px;
}


.padding-top{
  padding-top:80px;
 }

.column_r{
  display: block;
  float: left;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;

}
.column1 {
  width: 50%;
  padding: 10px;
}

.column2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.column1_m{
  display: none;
}

img{
  width: 100%;
  height: auto;
  min-height: 300px;
  /* border: 3px solid burlywood; */
}

.name{
  margin-top: 20px;
}
.delprice{
  position: relative;
}
.delprice:after{
  position: absolute;
  content: '';
  width: 110%;
  top: 50%;
  left: 0%;
  border-bottom: 2px solid rgba(255, 2, 2, 0.87);
}
.price h2{
   display: inline;
   margin-right: 7px;
}

li{
  display: inline-block;
  margin-top: 36px;
}

input[type=radio] {
  display: none;
}
.checkmark2 {
  padding: 13px;
  margin: 5px;
  color: azure;
  background-color: rgb(0, 208, 255);
}
.checkmark {
  padding: 6px 24px 13px 28px;
  border-radius: 5px;
  margin: 10px;
}
.vari{
  margin: 0px 0px 25px 8px;
  font-size: 15px;
}
.container2 input:checked ~ .checkmark2  {
  opacity: 1;
  background-color: rgb(255, 0, 0);
}

.checkmark:after {
  content: "";
  display: none;
}

input:checked ~ .checkmark:after  {
  display:initial;
}
input:checked ~ .checkmark  {
  padding: 22px 15px 2px 15px;
}

.checkmark:after {
  content: ' \002B';
  margin-top: 2px;
  color: rgb(105, 98, 98);
  size: 32px;
  font-size: 50px;

}

/* div#addcart{
  width:100%;
 } */

 .alert {
  padding: 15px 0px 15px 0px;
  color: white;
  display: flex;
}
strong{
    background-color: #f44336;
    padding: 5px 35px 5px 35px;
    font-size: 15px;
}
.closebtn {
  color: cornsilk;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    background: red;
    padding: 3px 10px 3px 10px;
}


.closebtn:hover {
  color: rgb(255, 255, 255);
  background: rgb(255, 56, 139);
}

.rimg{
  width: 80px;
  min-height: 40px;
  margin: 0px 5px 0px 5px;
}
button{
  font-size: 15px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 18px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  background-color: #ff766ce7;
}
button:hover{
  background: rgb(247, 94, 94);
  color: rgb(255, 255, 255);
}

.sellerbutton{
   cursor: pointer;
   background: #6dd6d1;
   border: none;
   border-radius: 5px;
   box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
   color: white;
   font-size: 18px;
   padding: 1px;
   transition: 500ms;
   border: 2px solid #6dd6d1;
}
.sellerbutton:hover{
  color: chocolate;
  transition: 500ms;
}


.backdrop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  background: rgba(188, 188, 199, 0.322);
}
.alert-box {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  background: rgb(255, 255, 255);
  z-index: 3000;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
  margin: 0 auto;
  scrollbar-color: #008de4 #c5d9ff;
  scrollbar-width: thin;
}

.review-box {
  position: fixed;
  top: 5%;
  left: 0%;
  right: 0%;
  width: 30%;
  height: auto;
  padding: 0;
  background: rgb(255, 255, 255);
  z-index: 3000;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
  margin: 0 auto;
}

form {
  z-index: 1;
  width: 500px;
  margin: 0 auto;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}


.cross{
  position: absolute;
    top: 1%;
    right: 1%;
    font-size: 26px;
    color: rgb(255, 37, 37);
    z-index: 1;
    padding: 0px 5px 0px 5px;
    background: azure;
    border-radius: 20px;
}















select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;

  width: 300px;
  background: #ffffff;
  padding: 8px 0.5em;
  color:rgb(15, 15, 15);
  cursor:pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
}
select::-ms-expand {
  display: none;
}
.selectbox{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.price{
  margin: 10px 0px;
}

.pdetails,.personalization{
  font-size: 14px;
  font-weight: 300;
  color: #555555;
}
.pdetails i{
  color: #555555;
}
.text{
  font-size: 16px;
}
.editor{
  width: 70%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
}
textarea{
  padding: 4px 13px;
  border-radius: 5px;
  width:100%;
  height: 70px;
}











@media (max-width: 1120px) {
  img{
    min-height: 240px;
  }

  .alert-box {

    width: 60%;
  }

}
@media (max-width: 1000px) {
  img{
    min-height: 200px;
  }

}
@media (max-width: 955px) {
  img{
    min-height: 200px;
  }
  .alert-box {

    width: 75%;
  }

}

@media (max-width: 850px) {
  img{
    min-height: 150px;
  }

}
@media (max-width: 800px) {

  img{
    min-height: 100px;
  }
}



@media (max-width: 700px) {
  img{
    min-height: 100px;
  }
  .alert-box {

    width: 100%;
  }

  .row{
    display: block;
  }

  .column1 {
    display: none;

  }
  .column1_m {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  .column2 {
    display: block;
    width: 100%;
  }
  h1{
    font-size: 20px;
  }
  h2,p{
    margin: 5px 0px 5px 0px;
    font-size: 15px;
    word-wrap: break-word;
  }
  h3{
    font-size: 10px;
  }

}


@media (max-width: 600px) {
  .alert-box {

    width: 100%;

  }
  h1{
    font-size: 15px;
  }
  h2,p{
    font-size: 10px;
    word-wrap: break-word;
  }
  h3{
    font-size: 10px;
  }
  select,.editor{
    width: 100%;
  }



}



@media (max-width: 768px) {


}

@media (max-width: 500px) {

  .alert-box{
    overflow-y: unset;
  }

  h1{
    font-size: 20px;
  }
  h2,p{
    font-size: 15px;
    word-wrap: break-word;
  }
  h3{
    font-size: 15px;
  }
}

@media (max-width: 450px) {

}
@media (max-width: 350px) {


}

@media (max-width: 280px) {

}
@media (max-width: 240px) {


}




