


<div>
  <app-navbar></app-navbar>
</div>


  <div (click)="alerttoggle()"  *ngIf="malert" class="backdrop "></div>
  <div *ngIf="malert" class="alert-box">
    <!-- <div class="cross">
      <i (click)="alerttoggle()" class="fa fa-times icon-carusel pcontrols-prev"
      ></i>
    </div> -->
    <!-- [pcontrols]="true" -->

    <!-- <app-carousel [images] = "images" ></app-carousel> -->

    <img src="{{imglink+selectedimg}}" alt="">

  </div>


  <div (click)="reviewtoggle()"  *ngIf="review" class="backdrop "></div>
  <div *ngIf="review" class="review-box">
    <!-- <div class="cross">
      <i (click)="alerttoggle()" class="fa fa-times icon-carusel pcontrols-prev"
      ></i>
    </div> -->
    <!-- [pcontrols]="true" -->
      <app-carousel [images] = "images" ></app-carousel>

  </div>

<div class="row"  *ngIf="product">

  <div class="column1">
      <div *ngIf="product.file1 !== '' " class="column" (click)="alerttoggle()">

          <img class="img" src="{{imglink+product.file1}}" alt="" (click)="selectimg(product.file1)">

      </div>

      <div *ngIf="product.file2  !== '' " class="column" (click)="alerttoggle()">

          <img class="img" src="{{imglink+product.file2}}" alt="" (click)="selectimg(product.file2)">

      </div>

      <div *ngIf="product.file3 !== '' "  class="column" (click)="alerttoggle()">

          <img class="img" src="{{imglink+product.file3}}" alt="" (click)="selectimg(product.file3)">

      </div>

      <div *ngIf="product.file4 !== '' " class="column" (click)="alerttoggle()">

          <img class="img" src="{{imglink+product.file4}}" alt="" (click)="selectimg(product.file4)">

      </div>

      <div *ngIf="product.file5 !== '' " class="column" (click)="alerttoggle()">

        <img class="img" src="{{imglink+product.file5}}" alt="" (click)="selectimg(product.file5)">

    </div>
    <div *ngIf="product.file6 !== '' " class="column" (click)="alerttoggle()">

      <img class="img" src="{{imglink+product.file6}}" alt="" (click)="selectimg(product.file6)">

  </div>
  <div *ngIf="product.file7 !== '' " class="column" (click)="alerttoggle()">

    <img class="img" src="{{imglink+product.file7}}" alt="" (click)="selectimg(product.file7)">

</div>
<div *ngIf="product.file8 !== '' " class="column" (click)="alerttoggle()">

  <img class="img" src="{{imglink+product.file8}}" alt="" (click)="selectimg(product.file8)">

</div>

  </div>

  <div class="column1_m" >
    <app-carousel [images] = "images" [pcontrols]="true"></app-carousel>
 </div>

  <div class="column2" >
    <div class="name">
      <h1>{{product.name}}</h1>
    </div>
    <div class="price">

      <h2 class="del" *ngIf="product.price" >${{product.price}}</h2>
      <h2 *ngIf="product.discount > 0 && product.price">${{(product.price * ( (100-this.product.discount) / 100 )).toFixed(0)}}</h2>

      <h2 class="pop" *ngIf="product.discount > 0">
        {{product.discount}}% Off
      </h2>
    </div>

     <!-- vari1 sextion -->
    <div *ngIf="product.vari?.values.length > 0">
      <p>{{product.vari.name}}</p>
      <select (change)="onVari1change()" [(ngModel)]="selectVari1" name="format" id="format">
        <option selected disabled value = 0>Select {{product.vari.name}}</option>
        <option *ngFor="let s of product.vari.values" value="{{ s.id }}" >{{ s.name }}</option>
     </select>

  </div>

     <!-- Mixed--1 sextion -->

     <div *ngIf="product.mixedvari?.values.length > 0 ">
        <p>{{product.mixedvari.vari1}}</p>
        <select (change)="onMixedChange()" [(ngModel)]="selectedmixed" name="format" id="format">
          <option selected disabled value='' >Select {{product.mixedvari.vari1}}</option>
          <option *ngFor="let s of Mixvalues1" value="{{ s.vari1name }}" >{{ s.vari1name }}</option>
       </select>
      </div>

   <!-- Mixed--2 sextion -->

  <div *ngIf="product.mixedvari?.values.length > 0 ">
       <p>{{product.mixedvari.vari2}}</p>
       <select (change)="onMixedChange2()" [(ngModel)]="selectedmixed2" name="format" id="format">

        <option *ngIf="selectedmixed !== '' " selected disabled  value= 0>Select {{product.mixedvari.vari2}}</option>
        <option *ngIf="selectedmixed == '' " selected disabled value= 0 >Select {{product.mixedvari.vari1}} First</option>

         <option *ngFor="let s of Mixvalues2" value="{{ s.id }}" >{{ s.vari2name }}</option>

        </select>
 </div>


 <div *ngIf="product.personalization !== '' " class="personalization">
  <h3 *ngIf="product.isp == 'true' " >Add your personalization*</h3>
  <h3 *ngIf="product.isp == 'false' " >Add your personalization(optional)</h3>
  <div [innerHtml]="product.personalization"></div>

  <div class="editor">

  <textarea
  (change)="inputchange()"
  (input)="inputchange()"
  [ngModel]="cartProduct.personalization | json"
  [(ngModel)]="cartProduct.personalization"
  ></textarea>

  </div>



</div>



      <div>

           <div  *ngIf="alert" class="alert">

              <strong *ngIf="mixvarialert">Select Variation
              </strong>

              <strong *ngIf="!mixvarialert && personalizationalert">Add Personalization
              </strong>

              <span class="closebtn"  (click)="hidealert()">&times;</span>

            </div>


            <div class="cardbtn">

             <button (click)="addItemToBasket()" *ngIf="product.quantity > 0"  class="cart" type="button">
                Add To Cart</button>

             <button *ngIf="product.quantity == 0" class="" type="button">
                No Quantity
              </button>

              <button  *ngIf="product.quantity > 0">1</button>
              <button  *ngIf="product.quantity > 0"><i class="fa fa-plus"></i></button>
              <button *ngIf="product.quantity > 0"><i class="fa fa-minus"></i></button>
            </div>


     </div>


     <div class="pdetails">

      <h2>PRODUCT DETAILS <i class="det fa fa-bookmark" aria-hidden="true"></i></h2>

      <div class="text" [innerHtml]="product.details"></div>

     </div>




      <div class="clolumn_full">
        <h2 class="tag">Reviews</h2>
        <div class="reviews" *ngFor="let r of reviews">
         <div class="ratting">
          <h2 class="pop2">{{r.ratting}}<i class="fa fa-star" aria-hidden="true"></i></h2>
          <div class="rt" [innerHtml]="r.review"></div>
         </div>
        <img *ngIf="r.image1 !== '' " class="rimg" src="{{imglink+r.image1}}" alt="" (click)="reviewtoggle(r.id)">
        <img *ngIf="r.image2 !== '' "  class="rimg" src="{{imglink+r.image2}}" alt="" (click)="reviewtoggle(r.id)">
        <img *ngIf="r.image3 !== '' "  class="rimg" src="{{imglink+r.image3}}" alt="" (click)="reviewtoggle(r.id)">
        <img *ngIf="r.image4 !== '' "  class="rimg" src="{{imglink+r.image4}}" alt="" (click)="reviewtoggle(r.id)">

      </div>
     <button (click)="loadreviews()">Load More</button>
     </div>
  </div>

  </div>




<div class="row" *ngIf="product">
    <div class="clolumn_full box">
      <h2 class="tag">Related Products</h2>

      <br>

      <app-shop [pid]="product.id" [scateid]="product.subcateid" [filters]="false" [favh]="false"></app-shop>

   </div>
</div>
