

  <div (click)="alerttoggle()"  *ngIf="malert" class="backdrop"></div>
  <div *ngIf="malert" class="alert-box">
    <div class="menualert">
      <app-message [ReceiverId]="product.sellerid"></app-message>
    </div>
    </div>


<div class="row">
  <div class="column1" >
    <div class="row">

      <div *ngIf="product.file1 !== '' " class="column" >

          <img class="img" src="{{'http://localhost:8000/'+product.file1}}" alt="">

      </div>

      <div *ngIf="product.file2  !== '' " class="column" >

          <img class="img" src="{{'http://localhost:8000/'+product.file2}}" alt="">

      </div>

      <div *ngIf="product.file3 !== '' "  class="column" >

          <img class="img" src="{{'http://localhost:8000/'+product.file3}}" alt="">

      </div>

      <div *ngIf="product.file4 !== '' "  class="column" >

          <img class="img" src="{{'http://localhost:8000/'+product.file4}}" alt="">

      </div>

    </div>
  </div>

  <div class="column2" >
    <div class="name">
      <h3>{{product.name}}</h3>
    </div>
    <div class="price">
      <h2 *ngIf="product.orgprice" class="delprice">৳{{product.orgprice}}</h2>
      <h2 class="mainprice">৳{{product.discprice}}</h2>
      <h2 *ngIf="product.discprice >= 1" style="color: rgb(255, 0, 179);">&#8722;{{(product.orgprice-(100-product.discprice)) / 100}}%</h2>
    </div>
    <div *ngIf="(product.orgprice-product.discprice) >= 1" class="price">
       <table id="customers2" style="table-layout: fixed; width: 100%;">
          <tr>
             <td style="text-align: center!important;font-family:'Courier New', Courier, monospace;padding: 2px;font-size: 11px;
             ">Save ৳{{product.discprice-product.orgprice}} Taka</td>
           </tr>
      </table>
     </div>

     <div  class="row" *ngIf="product.colors && product.colors.length > 0">

      <ul class="vari">
         <li *ngFor="let c of product.colors">
            <label *ngIf="c.quantity !== 0" class="container2">
              <input (click)="setColor(c, $event)" type="radio" name="radio"
               >
              <span [ngStyle]="{'background-color': c.colorCode}"
               class="checkmark"></span>
             </label>
         </li>
     </ul>
   </div>


      <div  class="row" *ngIf="product.sizes && product.sizes.length > 0">

        <ul class="vari">
           <li *ngFor="let c of product.sizes">
              <label *ngIf="c.quantity !== 0" class="container2">
                 <input (click)="setSize(c, $event)" type="radio" name="radio" >
                 <span class="checkmark2">{{c.variCode}}</span>
               </label>
           </li>
       </ul>
     </div>

     <div class="row" >
      <p>{{product.details}}</p>
     </div>
     <div class="row">
      <div id="footer">
        <div class="div">
           <div  *ngIf="alert" class="alert">
              <span class="closebtn"  (click)="hidealert()">&times;</span>
              <strong *ngIf="product.colors.length > 0">Select Color</strong>
              <strong *ngIf="product.sizes.length > 0">Select Size</strong>
            </div>


                 <button (click)="addItemToBasket()" *ngIf="product.qty !== 0"  class="glow-on-hover" type="button">
                    Add To Cart</button>
                 <button *ngIf="product.qty == 0" class="glow-on-hover" type="button">
                    No Quantity
                  </button>

                 <br>

                 <button (click)="alerttoggle()" class="glow-on-hover" >
                  Send Message
                </button>

        </div>

     </div>

     <div class="row">
      <div *ngFor="let r of reviews">
        <img *ngIf="r.image1 !== '' " class="rimg" src="{{'http://localhost:8000/'+r.image1}}" alt="">
        <img *ngIf="r.image2 !== '' "  class="rimg" src="{{'http://localhost:8000/'+r.image2}}" alt="">
        <img *ngIf="r.image3 !== '' "  class="rimg" src="{{'http://localhost:8000/'+r.image3}}" alt="">
        <img *ngIf="r.image4 !== '' "  class="rimg" src="{{'http://localhost:8000/'+r.image4}}" alt="">
        <h1>{{r.ratting}}</h1>
        <h1>{{r.review}}</h1>
     </div>
     </div>
     </div>
  </div>
</div>

