<!--
 <input type="checkbox" id="check2">

<span *ngIf="(basketService.basket$ | async) as basket" class="cart-no">
  <label for="check2">
  <div class="cart">
      <h4 *ngIf="basket.items.length == 1">
        {{basket.items.length}} item
      </h4>
      <h4 *ngIf="basket.items.length > 1">
        {{basket.items.length}} items
      </h4>
      <p>
        ৳{{(basketTotal$ | async).subtotal}}
      </p>
  </div>
  </label>
  </span> -->

<app-navbar></app-navbar>

<div class="rightbar">
  <!-- <label for="check2">
    <h2 class="close">Close</h2>
  </label>

  <div class="rightmenu">
    <label for="check2">
      <img class="toggle2" src="../assets/left.png" alt="">
    </label>
  </div> -->
  <div class="cartnull" *ngIf="(basket$ | async) == null">
    <h3>There are no items in your basket</h3>
 </div>

  <span *ngIf="basket$ | async">
  <div *ngFor="let item of (basket$ | async).items" class="row">

    <!-- <div class="smcolumn" >
      <div class="unitControl">
        <ul>
          <li (click)="incrementItemQuantity(item)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </li>
          <li>
            {{item.quantity}}
          </li>
          <li (click)="decrementItemQuantity(item)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="column" >
      <img src="{{'http://localhost:8000/'+item.pictureUrl}}"  alt="">
    </div>
    <div class="bigcolumn" >
      <div class="bigcontent">
        <table id="customers" style="table-layout: fixed; width: 100%">
          <tr>
            <td>{{item.productName}}</td>
          </tr>
          <tr *ngIf="item.color.length > 0 " >
            <td>Color: {{item.color[0].name | uppercase }}</td>
          </tr>
          <tr *ngIf="item.size.length > 0 ">
            <td>{{item.size[0].name}}: {{item.size[0].variCode | uppercase }}</td>
          </tr>
          <tr>
            <td>Price ৳{{item.price * item.quantity}}</td>
          </tr>
        </table>
        <ul>
          <li (click)="incrementItemQuantity(item)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </li>
          <li>
            {{item.quantity}}
          </li>
          <li (click)="decrementItemQuantity(item)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="smcolumn2" >
        <span  (click)="removeBasketItem(item)" class="">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </span>
    </div>
  </div>
</span>

<span *ngIf="(basketTotal$ | async)">
<h1>Order Summary</h1>

<table id="customers2" style="table-layout: fixed; width: 100%">
  <tr>
    <td>Order SubTotal</td>
    <td>৳{{(basketTotal$ | async).subtotal}}</td>
  </tr>
  <tr>
    <td>Delivery Charge</td>
    <td>৳{{(basketTotal$ | async).delevary}}</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>৳{{(basketTotal$ | async).total }}</td>
  </tr>
</table>
</span>

<ul class="items" *ngIf="(basketTotal$ | async)">

    <h1 class="checkout" routerLink='/checkout' >Checkout</h1>

</ul>
</div>
