
*{
  text-transform: none;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.column1{
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
}


.column2{
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
}
.margin{
  margin-top: 10px;
}

.delete{
  position: absolute;
  bottom: -27px;
  right: -1px;
  border: 1px solid #dfdfdf;
  box-shadow: none;
  padding: 4px;
  border-radius: 1px;
  font-weight: bold;
  font-family: ui-serif;
}
.delete:hover{
  color: #fff;
  background-color: #ff6c6c;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}
.personalization{
  position: absolute;
  bottom: -27px;
  right: 44px;
  border: 1px solid #dfdfdf;
  box-shadow: none;
  padding: 4px;
  border-radius: 1px;
  font-weight: bold;
  font-family: ui-serif;
}
.personalization:hover{
  color: #fff;
  background-color: #75efff;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}

.items{
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid rgb(189, 189, 185);
  background-color: rgb(255, 255, 255);

}
.items:hover{
   box-shadow: 0px 3px 8px rgb(49, 47, 47);
}
.content,.content2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content2{
  padding-top: 10px;
}
.address{
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 3px;
  border: 1px solid rgb(189, 189, 185);
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 0px rgb(255 0 128);
}


.img{
  width: 100px;
  height: 100px;
  padding: 10px;
}
img{
  width: 100%;
  height: 100%;
}

button{
  margin: 0 auto;
  padding: 10px 15px 10px 15px;;
  border-radius: 3px;
  background: #FFF;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
  cursor: pointer;
}
.details,.details2,.summery,.detailsform{
  display: table;
  font-size: 15px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(80, 80, 80);
  padding: 20px;
}

.alertdetails{
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  font-size: 15px;
}
.details2{
  width: 100%;
  text-align: center;
  box-shadow: 4px 4px 0px rgb(255 0 128);
}
.summery{
  width: 400px;
  float: left;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
  border-radius: 3px;
}

.icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}
.qty{
  padding-left: 6px;
}
.plus,.minus{
  z-index: 1;
  padding: 8px;
  background-color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
}
.plus{
  background-color: #5eff3d;
  color: #fff;
}
.minus{
  background-color: #ff6c6c;
  color: #fff;
}


.plus:hover,.minus:hover{
  color: rgb(97, 95, 95);
  background-color: #ffffff;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}

.mr-top{
  margin-top: 20px;
}
.flexContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.flexContainer button{
  border-radius: 0px 5px 5px 0px;
}

.shiping{
  width: 100%;
  margin-top: 20px;
  display: table;
}
.notvalid{
  color: #ff597d;
  margin-top: 2px;
}
.valid{
  margin-top: 2px;
  color: #00ff00;
}
.fvalid{
  margin-top: 2px;
  color: #132aff;
}
.cvalue{
  font-weight: unset;
  color: rgb(255, 40, 40);
}

.shipto{
  width: 46%;
  float: left;
  text-align: center;
  background: #130f40;
  margin: 2%;
  padding: 6px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.selected{
  background: #ff597d!important;
}
.shipto:hover{
  color: rgb(255, 255, 255);
  background: #ff597d;
}
.shiping p {
  margin: 2%;
}

.inputField {
  width: 100%;
  height: 2.6em;
  line-height: 2.6;
  padding: 0 .5em;
  color:rgb(15, 15, 15);
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid rgb(189, 189, 185);
}

.flexContainer button{
  box-shadow: none;
}
.content2 button{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
}
.content2 button:hover{
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}

.alert-box {
  position: fixed;
  width: 80%;
  top: 10px;
  left: 0;
  right: 15px;
  margin: 0 auto;
  z-index: 2000;
  border-radius: 7px;
  border: 3px solid rgb(252, 255, 104);

  overflow-y: scroll;
  height: 100%;
  padding-bottom: 200px;
}
.backdrop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(188, 188, 199, 0.322);
}














.terms{
  display: flex;
  padding: 10px;
  padding-left: 0px;
  cursor: pointer;
}
.terms label{
  color: #27ae60;
  font-size: 13px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

form{
  max-width:90rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border:.1rem solid rgba(0,0,0,.2);
  background:#fff;
  padding:1.5rem;
  margin:0 auto;
}

 form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 form .inputBox .input{
  width:49%;
}

 form .inputBox .input span{
  display:block;
  padding:.5rem 0;
  font-size: 1.5rem;
  color:var(--light-color);
}

 form .inputBox .input input,
 form .inputBox .input textarea{
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width:100%;
}

 form .inputBox .input input:focus,
 form .inputBox .input textarea:focus{
  border:.1rem solid var(--green);
}

 form .inputBox .input textarea{
  height:20rem;
  resize: none;
}

 form .btn{
  margin-top: 0;
}

.sub-heading{
  text-align: center;
  color:green;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading{
  text-align: center;
  color:var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #192a56;;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn:hover{
  background: #27ae60;
  letter-spacing: .1rem;
}




@media (max-width:1000px){

  .summery,.address {
    width: 100%;
  }
  .address,.items {
    width: 80%;
  }

}


@media (max-width:800px){

  .summery,.address {
    width: 100%;
  }
  .address,.items {
    width: 97%;
  }
  .alert-box {
    width: 97%;
  }

}



@media (max-width:750px){

 .column1,.column2{
  width: 50%;
 }

}

@media (max-width:670px){

  .column1,.column2{
   width: 100%;
  }
  .column2{
    margin-top: 40px;
  }
  .row{
    padding: 10px;
  }

 }

 @media (max-width:360px){

  .details{
    padding: 20px 0px 20px 0px;
  }
  .row{
    padding: 3px;
  }

 }

 @media (max-width:290px){

  .img{
    width: 65px;
    height: 70px;
    margin: 20px 0px 20px 0px;
  }
 }

 @media (max-width:250px){

  .content{
    padding: 2px;
  }
  .details{
    padding: 7px;
  }

  .icons{
    text-align: center;
  }
 }

@media (max-width:450px){

   form .inputBox .input{
      width:100%;
  }

}
