
<app-navbar></app-navbar>

<input type="checkbox" id="check3">

<div class="row">
  <div class="column1" >

    <!-- <h1 routerLink="" >View Site</h1> -->

    <div class="menu">
      <a class="maina"  (click)="showgroup(1,'dash')">
        <i class="far fa-clone pr-1"> </i> Dashboard
      </a>
    </div>

    <div class="menu">

      <!-- for desktop -->
      <a *ngIf="accountService.currentUser$ | async" class="maina none"  (click)="showgroup(2,'profile')">
      <i class="far fa-clone pr-1"></i> Profile</a>

      <a *ngIf="(accountService.currentUser$ | async) === null" class="maina none"  (click)="showgroup(2,'signup')">
        <i class="far fa-clone pr-1"></i> Profile</a>

      <!-- for mobile -->

      <a *ngIf="accountService.currentUser$ | async" class="maina mnone" routerLink='/profile' >
        <i class="far fa-clone pr-1"></i> Profile</a>

        <a *ngIf="(accountService.currentUser$ | async) === null" class="maina mnone" routerLink='/signup'>
          <i class="far fa-clone pr-1"></i> Profile</a>

    </div>

    <div class="menu">
      <a class="maina"  (click)="showgroup(3,'createproduct')">createproduct</a>
    </div>

    <div class="menu">
      <a class="maina"  (click)="showgroup(4,'category')">category</a>
    </div>

    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'sellerproduct')">sellerproduct</a>
    </div>


    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'order')">order</a>
    </div>

    <div class="menu">
      <a class="maina" [ngClass] = "{'active': show == 'manageorder'}" (click)="showgroup(5,'manageorder')">manageorder</a>
      <div class="submenu" [ngClass]=" view == 5 ? 'view' : ''">
        <a [ngClass] = "{'active2': orderst == 'all'}"  [routerLink]="['/dash', {order: 'all' }]" >All</a>
        <a [ngClass] = "{'active2': orderst == 'pending'}"  [routerLink]="['/dash', {order: 'pending' }]" >Pending</a>
        <a [ngClass] = "{'active2': orderst == 'approved'}"  [routerLink]="['/dash', {order: 'approved' }]" >Approved</a>
        <a [ngClass] = "{'active2': orderst == 'paid'}"  [routerLink]="['/dash', {order: 'paid' }]" >Paid</a>
        <a [ngClass] = "{'active2': orderst == 'unpaid'}"  [routerLink]="['/dash', {order: 'unpaid' }]" >Unpaid</a>
        <a [ngClass] = "{'active2': orderst == 'delivering'}"  [routerLink]="['/dash', {order: 'delivering' }]" >Delivering</a>
        <a [ngClass] = "{'active2': orderst == 'confirmed'}"  [routerLink]="['/dash', {order: 'confirmed' }]" >Confirmed</a>
        <a [ngClass] = "{'active2': orderst == 'rejected'}"  [routerLink]="['/dash', {order: 'rejected' }]" >Rejected</a>
        <a [ngClass] = "{'active2': orderst == 'guser'}"  [routerLink]="['/dash', {order: 'guser' }]" >Guest User</a>
      </div>
    </div>

    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'chat')">chat</a>
    </div>

    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'paymentmanage')">paymentmanage</a>
    </div>
    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'usermanage')">usermanage</a>
    </div>
    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'slidermanage')">slidermanage</a>
    </div>
    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'copuns')">copuns</a>
    </div>
    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'footermanage')">footer & terms</a>
    </div>
    <div class="menu">
      <a class="maina"  (click)="showgroup(5,'shipingmanage')">shipingmanage</a>
    </div>
    <div class="menu">
      <a class="maina"  (click)="showgroup(6,'shipingmanage')">Review Manage</a>
      <div class="submenu" [ngClass]=" view == 6 ? 'view' : ''">
        <a [routerLink]="['/dash', {order: 'all' }]" >All</a>
        <a [routerLink]="['/dash', {order: 'pending' }]" >Pending</a>
        <a [routerLink]="['/dash', {order: 'approved' }]" >Approved</a>
        <a [routerLink]="['/dash', {order: 'paid' }]" >Paid</a>
        <a [routerLink]="['/dash', {order: 'unpaid' }]" >UnPaid</a>
        <a [routerLink]="['/dash', {order: 'delivering' }]" >Delivering</a>
        <a [routerLink]="['/dash', {order: 'confirmed' }]" >Confirmed</a>
        <a [routerLink]="['/dash', {order: 'rejected' }]" >Rejected</a>
        <a [routerLink]="['/dash', {order: 'guser' }]" >Guest User</a>
      </div>
    </div>

    <div class="menu">
      <a class="maina"  (click)="showgroup(7,'shipingmanage')">Setting</a>
      <div class="submenu" [ngClass]=" view == 7 ? 'view' : ''">
        <a href="">Payment</a>
        <a href="">Footer</a>
        <a href="">Google Auth</a>
      </div>
    </div>

    <div class="logout" >
      <a (click)="logout()">Log Out</a>
    </div>


   <!-- <div class="sidemenu">
    <ul>

      <li (click)="showgroup('dash')"  >Dashboard
        <ul class="submenu" [ngClass]=" 4 == 4 ? 'view' : ''" >
          <li>erferf</li>
          <li>erferf</li>
          <li>erferf</li>
        </ul>
      </li>
      <li (click)="showgroup('profile')" >Profile</li>
      <li (click)="showgroup('createproduct')" >Create Product</li>
      <li (click)="showgroup('category')" >Create Category</li>
      <li (click)="showgroup('sellerproduct')" >Your Products</li>
      <li (click)="showgroup('order')" >Your Orders</li>
      <li (click)="showgroup('manageorder')" >Manage Orders</li>
      <li (click)="showgroup('chat')" >Message</li>
      <li (click)="showgroup('paymentmanage')" >Payment Managment</li>
      <li (click)="showgroup('usermanage')" >User Managment</li>
      <li (click)="showgroup('slidermanage')" >slider</li>
      <li (click)="showgroup('copuns')" >copuns Managment</li>
      <li (click)="showgroup('footermanage')" >footer & terms</li>
      <li (click)="showgroup('shipingmanage')" >Shiping Manage</li>

      <li class="logout" (click)="logout()">Log Out</li>
    </ul>
   </div> -->

  </div>
  <div class="column2">

    <div class="showhide">
      <label for="check3">
        <img src="../assets/bar.png" alt="">
      </label>
    </div>

    <section *ngIf="show == 'dash' " class="contact" id="contact">

      <div class="icons-container">

          <div class="icons">
              <div class="">
                <i class="fas fa-map-marker-alt"></i>
                <h3>address</h3>
              </div>

              <p>3434343434</p>

          </div>

          <div class="icons">
            <div class="">
              <i class="fas fa-map-marker-alt"></i>
              <h3>address</h3>
            </div>

            <p>3434343434</p>
          </div>

          <div class="icons">
            <div class="">
              <i class="fas fa-map-marker-alt"></i>
              <h3>address</h3>
            </div>

            <p>3434343434</p>
          </div>

          <div class="icons">
            <div class="">
              <i class="fas fa-map-marker-alt"></i>
              <h3>address</h3>
            </div>

            <p>3434343434</p>
        </div>

      </div>


    </section>

  <ng-container *ngIf="show !== '' ">

  <app-createproduct *ngIf=" show == 'createproduct' " [producteditid] = "producteditid" ></app-createproduct>
  <app-sellerproduct *ngIf=" show == 'sellerproduct' "  ></app-sellerproduct>
  <app-profile *ngIf=" show == 'profile' "  ></app-profile>
  <app-chat *ngIf=" show == 'chat' "  ></app-chat>
  <app-order *ngIf=" show == 'order' "  ></app-order>
  <app-category *ngIf=" show == 'category' "  ></app-category>
  <app-manageorder *ngIf=" show == 'manageorder' "  [orderst] = "orderst"></app-manageorder>
  <app-paymentmanage *ngIf=" show == 'paymentmanage' " ></app-paymentmanage>
  <app-usermanage *ngIf=" show == 'usermanage' " ></app-usermanage>
  <app-copuns *ngIf=" show == 'copuns' "  ></app-copuns>
  <app-slidermanage *ngIf=" show == 'slidermanage' " ></app-slidermanage>
  <app-footermanage *ngIf=" show == 'footermanage' " ></app-footermanage>
  <app-shiping *ngIf=" show == 'shipingmanage' " ></app-shiping>
  <app-signup *ngIf=" show == 'signup' " ></app-signup>
</ng-container>
</div>
</div>
