*{
  font-size: large;
}
.row{
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: large;
}
.column1 {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0%;
  background-color: rgba(196, 195, 194, 0.678);

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rgb(233, 255, 108) rgb(255, 255, 255) !important;
  scrollbar-width: thin !important;
}
.column1::-webkit-scrollbar {
  width: 8px;
}
.column1::-webkit-scrollbar-thumb {
  background: #63fff2;
}

.column2 {
  position: fixed;
  left: 20%;
  height: 100%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rgb(233, 255, 108) rgb(255, 255, 255) !important;
  scrollbar-width: thin !important;
}
.column2::-webkit-scrollbar {
  width: 8px;
}


.column2::-webkit-scrollbar-thumb {
  background: #63fff2;
}
.sidemenu ul{
  width: 100%;
  height: 100%;
  color: rgb(138, 120, 113);
  padding-bottom: 200px;
}
h1{
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #ff21b5;
  color: #fff ;
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.sidemenu li{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 3px;
  list-style: none;
}
.logout{
  margin-bottom: 300px;
  text-align: center;
}
.logout a{
  background-color: rgba(255, 31, 68, 0.795);
  color: rgb(255, 255, 255);
}


#check3:checked ~ .row .column1{
  left: -20%;
}

#check3{
  display: none;
}

#check3:checked ~ .row .column2{
  width: 100%;
  left: 0%;
}
img{
  z-index: 1;
  position: absolute;
  width: 30px;
}










section {
    width: 99%;
    margin: 0 auto;
    padding: 2rem 9%;
    margin-top: 100px;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 185);
    box-shadow: 1px 2px 2px #888888;
}



.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.contact .icons-container .icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.2rem;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact .icons-container .icons i {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #130f40;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}




a{
  padding: 10px;
  display: block;
  width: 100%;
  background: #fff;
  cursor: pointer;
}
.maina{
  background: #ffffff;
  color: rgb(105, 105, 105);
  border-bottom: 1px solid rgb(241, 237, 237);
}
.submenu{
  display: none;
  border-bottom: 2px solid rgb(173, 173, 173);
}
.submenu a{
  background: hsl(0deg 100% 69% / 18%);
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 8px;
    color: #fff;
}
a:hover{
  color: #fff!important;
  background: rgb(255, 72, 72)!important;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}

.active{
  color: #fff!important;
  background: rgb(255, 72, 72)!important;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}
.active2{
  color: #fff!important;
  background: rgb(255, 176, 176)!important;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}
.view{
  display: block!important;
}
.mnone{
  display: none;
}


@media (max-width: 800px) {
  .column1{
    width: 100%;
    left: 0%;
  }
  .column2{
    display: none!important;
  }
  .none{
    display: none!important;
  }
  .mnone{
    display: block!important;
  }
}
