*{
  font-size: large;
}
.row{
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 80px;
  font-size: large;

}
.column1 {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0%;
  background-color: rgba(196, 195, 194, 0.678);
}
.column2 {
  position: fixed;
  left: 20%;
  height: 100%;
  width: 80%;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
}
ul{
  width: 100%;
  height: 100%;
  color: rgb(138, 120, 113);
  overflow-y: scroll;
  padding-bottom: 300px;
}
h1{
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #ff21b5;
  color: #fff ;
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
li{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 3px;
  list-style: none;
}
.logout{
  background-color: rgba(255, 127, 127, 0.795);
  color: rgb(255, 255, 255);
  text-align: center;
}


#check3:checked ~ .row .column1{
  left: -20%;
}

#check3{
  display: none;
}

#check3:checked ~ .row .column2{
  width: 100%;
  left: 0%;
}
img{
  z-index: 1;
  position: absolute;
  width: 30px;
}










section {
    width: 99%;
    margin: 0 auto;
    padding: 2rem 9%;
    margin-top: 100px;
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 185);
    box-shadow: 1px 2px 2px #888888;
}



.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.contact .icons-container .icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.2rem;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact .icons-container .icons i {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contact .icons-container .icons h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #130f40;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

