
.row{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head{
   position: relative;
   display: flex;
   height: 50px;
   width: 100%;
   padding: 13px;
   background: rgb(255, 254, 254);
   line-height: 30px;
   justify-content: space-between;
   overflow: hidden;
   border: 1px solid rgb(189, 189, 185);
   box-shadow: 1px 2px 2px #888888;
   font-size: 15px;
   line-height: 24px;
}
.body{
   width: 100%;
   height: 90%;
   background: rgb(255, 255, 255);
   border: 1px solid rgb(189, 189, 185);
   box-shadow: 1px 2px 2px #888888;
   display: flex;
   flex-direction: column;
   position: relative;
}
.loadmore{
  background: #fff;
  padding: 5px 0px 5px 0px;
  color: #060606;
  cursor: pointer;
  border-radius: 1px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  .loadmore:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 8px rgb(49, 47, 47);
  }

.chat-body{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 0.5rem;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
  overflow-y: scroll;
  width: 100%;
  height: 70vh;
  overflow-x: hidden;
  scrollbar-color: rgb(233, 255, 108) rgb(255, 255, 255) !important;
  scrollbar-width: thin !important;
}

.chat-body::-webkit-scrollbar {
  width: 8px;
}


.chat-body::-webkit-scrollbar-thumb {
  background: #63fff2;
  /* border-radius: 5rem; */
}

.message {
  background: bisque;
  color: black;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-break: break-all;
  }

  .message>span:nth-child(2){
    font-size: 0.7rem;
    color: var(--textColor);
    align-self: end;
  }

  .own {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
  background: linear-gradient(98.63deg, #24e4f0 0%, #358ff9 100%);
  }
  .nomsg{
    height: 100%;
    padding: 10px;
  }

.online{
  color: #5fff02;
}



.chat-sender {
  background: white;
  display: flex;
  justify-content: space-between;
}
form{
  display: flex;
}
 form ,input{
  width: 70%;
  height: 47px;
  background-color: rgb(236, 236, 236);
  border: none;
  outline: none;
  flex  :1 ;
  font-size: 14px;
  padding: 0px 0px 0px 15px;
}
button
{
  background: rgb(255, 255, 255);
  float: right;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: #130f40;
}
.chat-sender>div{
  height: 70%;
  padding: 0px 15px 0px 15px;
}
h1{
  text-align: center;
  background: rgb(255, 255, 255);
  font-size: 15px;
  padding: 5px;
  border: 1px solid rgb(189, 189, 185);
  box-shadow: 1px 2px 2px #888888;
  width: 100%;
}

.flag{
  color: gold;
  font-size: 20px!important;
}
.unflag{
  color: #808080;
  font-size: 20px!important;
}
