<!--
<div class="row">
  <div class="column" >
    <span >
      <div class="col col-main" *ngIf="(accountService.currentUser$ | async) as user">
        <img src="{{user.image}}" alt="">
        <table id="customers" style="table-layout: fixed; width: 100%">
          <tr>
            <td>Name</td>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>{{user.pnumber}}</td>
          </tr>
          <tr *ngIf="user.isVerified">
            <td>Status</td>
            <td class="verify">Verified</td>
          </tr>
        </table>
        <span >
        <button (click)="changename()">Change Name</button>
        </span>
      </div>
    </span>
    <span *ngIf="changenam">
      <form #nameForm="ngForm" (ngSubmit)="setName()" autocomplete="off">
        <div class="form-group">
            <input type="text" class="form-control" required name="Name"
                [(ngModel)]="name.name" placeholder="Name"  >
        </div>

      <div class="form-group text-center">
          <button [disabled]="nameForm.invalid" class="btn btn-success mr-2" type="submit">Submit</button>
          <a (click)="changename()"  type="submit">Cancel</a>
      </div>
     </form>
    </span>
  </div>
  <div  class="column" style="word-wrap: break-word;">
      <span >
      <h2>Address</h2>
      <table id="customers" style="table-layout: fixed; width: 100%">
        <tr>
          <td>Phone Number</td>
          <td>rtyui5689</td>
        </tr>

        <tr>
          <td>Address</td>
          <td style="word-wrap: break-word">rtrererer</td>
        </tr>
        <tr>
          <td>District</td>
          <td>rerererer</td>
        </tr>
        <tr>
          <td>Upazilla</td>
          <td>rerererer</td>
        </tr>
      </table>
      <button (click)="seeaddress()">Change</button>
      </span>

      <span *ngIf="useraddress == null && !noaddress">
            <button (click)="seeaddress()">Set Address</button>
      </span>

      <span *ngIf="noaddress">
        <form #addressForm="ngForm" (ngSubmit)="setAddress()" autocomplete="off">
          <div class="form-group">
              <input type="text" class="form-control" required name="phone"
                  [(ngModel)]="createaddress.phone" placeholder="Phone"  >
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" required name="Address"
                [(ngModel)]="createaddress.userAddress" placeholder="Address"  ></textarea>
        </div>
        <label for="country">Districct</label>
        <select  [(ngModel)]="createaddress.district" (change)="ondisChange()" id="country" name="country" required>
          <option value="None">Select</option>
          <option *ngFor="let s of districts" value="{{ s.name }}" >{{ s.name }}</option>
        </select>
        <label for="upazila">Upazilla</label>
        <select  [(ngModel)]="createaddress.upazila" (change)="onupaChange()"   id="upazila" name="upazila" required>
          <option value="None">Select</option>
          <option *ngFor="let s of upazilla" value="{{ s.name }}" >{{ s.name }}</option>
        </select>


        <div class="form-group text-center">
            <button [disabled]="addressForm.invalid" class="btn btn-success mr-2" type="submit">Submit</button>
            <a (click)="seeaddress()"  type="submit">Cancel</a>
        </div>
       </form>

      </span>
  </div>
</div> -->




<div class="row">
  <div class="column1">
    <h3 class="mb-0"><i class="far fa-user pr-1"></i> User</h3>

     <div class="text">
        <br>
        <p class="mb-0"><strong class="pr-1">Name:</strong> {{user.name}}</p>
        <p class="mb-0"><strong class="pr-1">Phone:</strong> {{user.pnumber}}</p>
        <p *ngIf="user.isVerified == 'true' " class="mb-0"><strong class="pr-1">Verified:</strong> Yes</p>
        <p *ngIf="user.isVerified == 'false' " class="mb-0"><strong class="pr-1">Verified:</strong> No</p>
     </div>
     <br>
  </div>
  <div class="column2">
      <ng-container  *ngIf="!editmode && !noaddress" >
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Address</h3>

      <br>
      <table class="table table-bordered">
        <tr>
          <th width="30%">Name</th>
          <td width="2%">:</td>
          <td>{{model.name}}</td>
        </tr>
        <tr>
          <th width="30%">phone</th>
          <td width="2%">:</td>
          <td>{{model.phone}}</td>
        </tr>
        <tr>
          <th width="30%">email</th>
          <td width="2%">:</td>
          <td>{{model.email}}</td>
        </tr>
        <tr>
          <th width="30%">city</th>
          <td width="2%">:</td>
          <td>{{model.city}}</td>
        </tr>
        <tr>
          <th width="30%">state</th>
          <td width="2%">:</td>
          <td>{{model.state}}</td>
        </tr>
        <tr>
          <th width="30%">zip</th>
          <td width="2%">:</td>
          <td>{{model.zip}}</td>
        </tr>
        <tr>
          <th width="30%">address</th>
          <td width="2%">:</td>
          <td>{{model.address}}</td>
        </tr>
      </table>
      <br>
      <button (click)="editaddress()">Edit</button>

      </ng-container>


      <ng-container *ngIf="noaddress && !editmode">
        <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Address</h3>

        <br>
        <button  (click)="editaddress()">Add Address</button>
      </ng-container>




  <ng-container *ngIf="editmode" class="column2">
    <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Address</h3>

    <br>
      <form #addressForm="ngForm" autocomplete="off">
        <label for="upazila">name</label>

        <div class="form-group">
           <input type="text" class="form-control" required name="name"
                [(ngModel)]="model.name" placeholder="name"  >
        </div>

      <label for="country">email</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="email"
             [(ngModel)]="model.email" placeholder="email"  >
      </div>


      <label for="country">phone</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="phone"
             [(ngModel)]="model.phone" placeholder="phone"  >
      </div>

      <label for="upazila">city</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="city"
             [(ngModel)]="model.city" placeholder="city"  >
     </div>

     <label for="upazila">state</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="state"
             [(ngModel)]="model.state" placeholder="state"  >
     </div>

     <label for="upazila">zip</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="zip"
             [(ngModel)]="model.zip" placeholder="zip"  >
     </div>


     <label for="upazila">address</label>

      <div class="form-group">
          <textarea type="text" class="form-control" required name="address"
          [(ngModel)]="model.address" placeholder="address"  ></textarea>
      </div>


      <div class="form-group text-center">

          <button *ngIf="model.id == 0" [disabled]="addressForm.invalid"  (click)="createAddress()" class="btn btn-success mr-2" type="submit">Create</button>
          <button *ngIf="model.id !== 0"  [disabled]="addressForm.invalid"  (click)="updateAddress()" class="btn btn-success mr-2" type="submit">Update</button>

          <button (click)="editaddress()" >Cancel</button>
      </div>
     </form>
  </ng-container>

  </div>
</div>


