

<div class="row">
  <div class="column1">
    <h3 class="mb-0"><i class="far fa-user pr-1"></i> User</h3>

     <div class="text">
        <br>
        <p class="mb-0"><strong class="pr-1">Name:</strong> {{user.name}}</p>
        <p class="mb-0"><strong class="pr-1">Phone:</strong> {{user.pnumber}}</p>
        <p *ngIf="user.isVerified == 'true' " class="mb-0"><strong class="pr-1">Verified:</strong> Yes</p>
        <p *ngIf="user.isVerified == 'false' " class="mb-0"><strong class="pr-1">Verified:</strong> No</p>
     </div>
     <br>
  </div>
  <div class="column2">
      <ng-container  *ngIf="!editmode && !noaddress" >
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Address</h3>

      <br>
      <table class="table table-bordered">
        <tr>
          <th width="30%">Name</th>
          <td width="2%">:</td>
          <td>{{model.name}}</td>
        </tr>
        <tr>
          <th width="30%">phone</th>
          <td width="2%">:</td>
          <td>{{model.phone}}</td>
        </tr>
        <tr>
          <th width="30%">email</th>
          <td width="2%">:</td>
          <td>{{model.email}}</td>
        </tr>
        <tr>
          <th width="30%">city</th>
          <td width="2%">:</td>
          <td>{{model.city}}</td>
        </tr>
        <tr>
          <th width="30%">state</th>
          <td width="2%">:</td>
          <td>{{model.state}}</td>
        </tr>
        <tr>
          <th width="30%">zip</th>
          <td width="2%">:</td>
          <td>{{model.zip}}</td>
        </tr>
        <tr>
          <th width="30%">address</th>
          <td width="2%">:</td>
          <td>{{model.address}}</td>
        </tr>
      </table>
      <br>
      <button (click)="editaddress()">Edit</button>

      </ng-container>


      <ng-container *ngIf="noaddress && !editmode">
        <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Address</h3>

        <br>
        <button  (click)="editaddress()">Add Address</button>
      </ng-container>




  <ng-container *ngIf="editmode" class="column2">
    <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Address</h3>

    <br>
      <form #addressForm="ngForm" autocomplete="off">
        <label for="upazila">name</label>

        <div class="form-group">
           <input type="text" class="form-control" required name="name"
                [(ngModel)]="model.name" placeholder="name"  >
        </div>

      <label for="country">email</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="email"
             [(ngModel)]="model.email" placeholder="email"  >
      </div>


      <label for="country">phone</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="phone"
             [(ngModel)]="model.phone" placeholder="phone"  >
      </div>

      <label for="upazila">city</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="city"
             [(ngModel)]="model.city" placeholder="city"  >
     </div>

     <label for="upazila">state</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="state"
             [(ngModel)]="model.state" placeholder="state"  >
     </div>

     <label for="upazila">zip</label>

      <div class="form-group">
        <input type="text" class="form-control" required name="zip"
             [(ngModel)]="model.zip" placeholder="zip"  >
     </div>


     <label for="upazila">address</label>

      <div class="form-group">
          <textarea type="text" class="form-control" required name="address"
          [(ngModel)]="model.address" placeholder="address"  ></textarea>
      </div>


      <div class="form-group text-center">

          <button *ngIf="model.id == 0" [disabled]="addressForm.invalid"  (click)="createAddress()" class="btn btn-success mr-2" type="submit">Create</button>
          <button *ngIf="model.id !== 0"  [disabled]="addressForm.invalid"  (click)="updateAddress()" class="btn btn-success mr-2" type="submit">Update</button>

          <button (click)="editaddress()" >Cancel</button>
      </div>
     </form>
  </ng-container>

  </div>
</div>


