
<div class="row">
  <div class="column" >
    <span >
      <div class="col col-main" *ngIf="(accountService.currentUser$ | async) as user">
        <img src="{{user.image}}" alt="">
        <table id="customers" style="table-layout: fixed; width: 100%">
          <tr>
            <td>Name</td>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>{{user.pnumber}}</td>
          </tr>
          <tr *ngIf="user.isVerified">
            <td>Status</td>
            <td class="verify">Verified</td>
          </tr>
        </table>
        <span >
        <button (click)="changename()">Change Name</button>
        </span>
      </div>
    </span>
    <span *ngIf="changenam">
      <form #nameForm="ngForm" (ngSubmit)="setName()" autocomplete="off">
        <div class="form-group">
            <input type="text" class="form-control" required name="Name"
                [(ngModel)]="name.name" placeholder="Name"  >
        </div>

      <div class="form-group text-center">
          <button [disabled]="nameForm.invalid" class="btn btn-success mr-2" type="submit">Submit</button>
          <a (click)="changename()"  type="submit">Cancel</a>
      </div>
     </form>
    </span>
  </div>
  <div  class="column" style="word-wrap: break-word;">
      <span >
      <h2>Address</h2>
      <table id="customers" style="table-layout: fixed; width: 100%">
        <tr>
          <td>Phone Number</td>
          <td>rtyui5689</td>
        </tr>

        <tr>
          <td>Address</td>
          <td style="word-wrap: break-word">rtrererer</td>
        </tr>
        <tr>
          <td>District</td>
          <td>rerererer</td>
        </tr>
        <tr>
          <td>Upazilla</td>
          <td>rerererer</td>
        </tr>
      </table>
      <button (click)="seeaddress()">Change</button>
      </span>

      <span *ngIf="useraddress == null && !noaddress">
            <button (click)="seeaddress()">Set Address</button>
      </span>

      <span *ngIf="noaddress">
        <form #addressForm="ngForm" (ngSubmit)="setAddress()" autocomplete="off">
          <div class="form-group">
              <input type="text" class="form-control" required name="phone"
                  [(ngModel)]="createaddress.phone" placeholder="Phone"  >
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" required name="Address"
                [(ngModel)]="createaddress.userAddress" placeholder="Address"  ></textarea>
        </div>
        <label for="country">Districct</label>
        <select  [(ngModel)]="createaddress.district" (change)="ondisChange()" id="country" name="country" required>
          <option value="None">Select</option>
          <option *ngFor="let s of districts" value="{{ s.name }}" >{{ s.name }}</option>
        </select>
        <label for="upazila">Upazilla</label>
        <select  [(ngModel)]="createaddress.upazila" (change)="onupaChange()"   id="upazila" name="upazila" required>
          <option value="None">Select</option>
          <option *ngFor="let s of upazilla" value="{{ s.name }}" >{{ s.name }}</option>
        </select>


        <div class="form-group text-center">
            <button [disabled]="addressForm.invalid" class="btn btn-success mr-2" type="submit">Submit</button>
            <a (click)="seeaddress()"  type="submit">Cancel</a>
        </div>
       </form>

      </span>
  </div>
</div>
