
.content{
  width: 100%;
  height: 100%;
}









      .cart{
        z-index: 2;
        position: fixed;
        text-align: center;
        color: chocolate;
          right: 0;
          top:300px;
          box-shadow: 0 0 16px -1px rgb(0 0 0 / 75%);
      }
      .cart:hover{
        background-color: rgba(191, 202, 37, 0.884);
      }
      .cart h4{
        background-color: rgba(191, 202, 37, 0.521);
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;

      }
      .cart p{
        padding: 5px;
        background-color: rgb(255, 255, 255);
      }
      .items li{
        display: block;
      }
      .items{
        margin-bottom: 200px;
      }
      .rightbar{
        background: rgb(255, 255, 255);
        position: fixed;
        top: 67px;
        right: -450px;
        width: 350px;
        height: 100%;
        overflow-y: scroll;
        z-index: 3;
      }

      .rightbar ul li a{
        display: block;
        padding: 13px 30px;
        border-bottom: 1px solid #000000;
        color: rgb(0, 0, 0);
        font-size: 16px;
        position: relative;
      }

       .rightbar ul li a .icon{
        color: #dee4ec;
        width: 30px;
        display: inline-block;
      }
      #check2:checked ~ .rightbar{
        right: 0px;
      }

      #check2:checked ~ .rightbar .rightmenu{
        right: 350px;
      }
      .toggle2{
          width: 16px;
          height: 103px;
          border-radius: 7px 0px 0px 7px;
      }
      .rightmenu{
        position: fixed;
        right: -50px;
        top:300px;
     }



















     /* Cart */

     .column {
      float: left;
      width: 20%;
      padding: 10px;
      height: 150px;
      }
      .column img{
      width: 50px;
        margin-top: 40px;
        border-radius: 5px;
      }

      .smcolumn{
      position: relative;
      float: left;
      width: 10%;
      padding: 10px;
      height: 150px;
      }
      .bigcolumn{
      float: left;
      width: 60%;
      padding: 0px;
      height: 150px;
      }
      .bigcontent{
        margin-top: 22px;
      }

      /* Clear floats after the columns */
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
      .row {
      border-bottom: 2px solid rgb(194, 192, 192);
      }

      .unitControl{
        text-align: center;
      }
      .control{
        position: relative;
      }
     .icon-plus::before{
      position: absolute;
      background-color: rgba(217, 255, 0, 0.712);
      content: " \002B";
      color: black;
        font-size: 30px;
      border: 1px solid #ffffff;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        display: inline-block;
      top: 0;
      left: -7px;
     }
     .unitCount{
      position: absolute;
        font-size: 30px;
        top: 60px;
        left: 9px;
     }

     .icon-minus::before{
      position: absolute;
      background-color: rgba(217, 255, 0, 0.753);
      content: " \2212";
      color: black;
        font-size: 30px;
      border: 1px solid #ffffff;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        display: inline-block;
      top: 85px;
      left: -7px;
     }

     .icon-trush::before{
      position: absolute;
      background-color: rgba(255, 17, 0, 0.733);
      content: ' \00D7';
      color: black;
        font-size: 30px;
      border: 1px solid #ffffff;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        display: inline-block;
      top: 40px;
      left: -7px;
     }

     .control{
       float: left;
     }
     .cartnull{
       text-align: center;
       margin-top: 80px;
     }












.checkout{
    padding: 6px 60px 6px 60px;
    margin: 10px;
    background-color: rgba(10, 255, 235, 0.774);
    font-size: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}



input[type="checkbox"]{
  display: none;
}
