
<div class="login-box">

  <div class="msg" *ngIf="message">
    <h2 >{{message}}</h2>
    <button *ngIf="ownotp" class="agn" (click)="sendagin()">Send Again</button>
  </div>
  <br>

  <span *ngIf="!verify">
  <form (ngSubmit)="otpsend()" >
    <label>Phone Number</label>
    <div class="mobile">
      <h3 >+88</h3>
    <input
    [(ngModel)]="model.pnumber"
    name="phone"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "number"
    maxlength = "11"
    placeholder="Phone Number"
    />
    </div>
    <button
          type="submit"
          class="button"
          >
            Send OTP
          </button>

  </form>
</span>

<span *ngIf="verify">
  <form class="form" (ngSubmit)="setac()">

    <a>*{{model.pnumber}}</a>
    
    <label>Your OTP</label>
    <input
    [(ngModel)]="setaccount.otp"
    name="otp"
    type = "text"
    />
    <br>
    <label>New Password</label>
    <input
    [(ngModel)]="setaccount.password"
    name="password"
    type = "text"
    />

    <button
          type="submit"
          class="button"
          >
            Set Account
          </button>

  </form>
 </span>
  </div>
