
.login-box {
  width: 360px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  margin: 7px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
button{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}


.mobile{
  position: relative;
}

.disabled{
  background-color: darkseagreen;
    color: white;
}

.mobile span{
    position: absolute;
    top: 7px;
    left: 7px;
    background: azure;
    padding: 7px;
    color: darkblue;
    border-radius: 8%;
}
