
<app-navbar></app-navbar>

<div (click)="alerttoggle()"  *ngIf="alert" class="backdrop "></div>
<div *ngIf="alert" class="alert-box">

 <div class="text">
  <br><br>
  <button (click)="setcod(order.id)" >Set Order</button>
  <br><br>
  <h3>*Pay When Product Delevared</h3>
  <br><br>
 </div>

</div>


<div class="row" *ngIf="order">
  <div class="column">
    <div class="details">
      <div class="text">
        <h1 *ngIf="order.ispaid == 0">Make Payment</h1>
        <br *ngIf="order.ispaid == 0">
        <p *ngIf="order.cashondelevary == 0 && order.ispaid == 0">Select A Payment Method</p>
        <p *ngIf="order.paidbypaypal == 1 ">Paid By: Paypal</p>
        <p *ngIf="order.paidbystripe == 1 ">Paid By: Credit / Debit Card</p>
        <p *ngIf="order.cashondelevary == 1 && order.ispaid == 0">Pay With Cash on delevary</p>
      </div>
    </div>

    <h2 *ngIf="order.cashondelevary == 1 && order.ispaid == 0" >Or</h2>

    <div class="paypal" *ngIf="order.ispaid == 0">
      <p>PayPal is Loading</p>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>

  <h2 *ngIf="order.ispaid == 0" (click)="stripePay(order.total,order.id)" ><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Credit / Debit Card</h2>
  <h2 *ngIf="order.cashondelevary == 0 && order.ispaid == 0"  (click)="alerttoggle()"   >Cash On Delevary</h2>



  <div class="details" *ngIf="order.ispaid== 1">
    <div class="text paidbox">
      <div class="center">
        <div class="check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <br>
        <p>Payment Successful</p>
      </div>
      <button class="vbtn" [routerLink]="['/dash', {sorder: 0 }]" *ngIf="order.ispaid== 1"  >View Order</button>
    </div>
  </div>


  </div>
  <div class="column">

    <div class="details">
      <div class="text">
        <h3>Order Details</h3>
        <p>Order Id: {{order.id}}</p>
        <p>Name: {{order.name}}</p>
        <p>Address: {{order.address}}</p>
        <p>City: {{order.city}}</p>
        <p>State: {{order.state}}</p>
        <p>Phone: {{order.phone}}</p>

        <br>
        <p>Delevary: {{order.dtitle}}</p>
        <p *ngIf="order.cvalue">Coupon: {{order.ctitle}}</p>
        <br>

        <p>Sub Total: ${{order.subtotal}}</p>
        <p>Delevary Charge: ${{order.dvalue}}</p>
        <p *ngIf="order.cvalue">Coupon Value: {{order.cvalue}}</p>
        <p>Total: ${{order.total}}</p>
        <br>
        <p *ngIf="order.ispaid == 1">Status: <span class="paid">Paid</span></p>
        <p *ngIf="order.ispaid == 0">Status: <span class="npaid"> Not Paid</span></p>
      </div>
    </div>

    <div class="column2">


    <div class="product" *ngFor="let item of order.orderItems">
      <img src="{{imglink+item.img}}" alt="">
      <div class="box">
        <p>{{item.name | slice:0:15}}...</p>
        <p>Total: {{item.price }}*{{item.quantity}} = ${{item.price * item.quantity}}</p>
      </div>
    </div>

    </div>

  </div>
</div>
