*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}


html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

html::-webkit-scrollbar-thumb {
  background: #76ffffa8;
  border-radius: 5rem;
}

textarea.ng-dirty.ng-invalid {
  border-left: 10px solid red!important;
}

input.ng-dirty.ng-invalid {
  border-left: 10px solid red!important;
}


.NgxEditor__Content {
  padding: 10px 10px 50px 10px!important;
}
.NgxEditor__MenuBar{
  border-bottom: 1px solid rgb(207, 207, 207)!important;
}
.NgxEditor{
  border: none!important;
}


.owlcate .owl-prev,.owlcate .owl-next{
  position: absolute!important;
}
.owlcate .owl-prev{
  left: 0!important;
  top: 10%!important;
    background: #99999962!important;
    color: rgb(255, 255, 255)!important;
    height: 42px;
    line-height: 36px;
}
.owlcate .owl-next{
  right: 0!important;
  top: 10%!important;
    background: #9292925d!important;
    color: rgb(255, 255, 255)!important;
    height: 42px;
    line-height: 36px;
}




@media (max-width:991px){

  html{
      font-size: 55%;
  }

  header{
      padding:1rem 2rem;
  }

  section{
      padding:2rem;
  }


}


@media (max-width:450px){

  html{
      font-size: 50%;
  }
}
