<div class="login-box">

  <h3 *ngIf="message">{{message}}</h3>

  <span *ngIf="signupform">
  <form (ngSubmit)="otpsend()">
    <label>Phone Number</label>
    <div class="mobile">
      <span >+88</span>
    <input
    [(ngModel)]="model.phonenumber"
    name="phone"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "number"
    maxlength = "11"
    placeholder="Phone Number"
    />
    </div>
    <button
          type="submit"
          class=""
          >
            Send OTP
          </button>

  </form>
</span>

<span *ngIf="otpsended">
  <form (ngSubmit)="signup()">
    <label>Your OTP</label>

    <input
    [(ngModel)]="model.otp"
    name="phone"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "number"
    maxlength = "4"
    placeholder="OTP"
    />
    <button
          type="submit"
          class=""
          >
            Verify
          </button>

  </form>
</span>



<span *ngIf="verified">
  <form (ngSubmit)="setac()">
    <label>Set Account</label>

    <input
    [(ngModel)]="model.phonenumber"
    name="phonenumber"
    type = "text"
    class="disabled"
    disabled
    />

    <input
    [(ngModel)]="setaccount.name"
    name="name"
    type = "text"
    placeholder="Your Name"
    />
    <input
    [(ngModel)]="setaccount.password"
    name="password"
    type = "text"
    placeholder="Password"
    />
    <button
          type="submit"
          class=""
          >
            Set Account
          </button>

  </form>
</span>

  <div *ngIf="haveac" class="para-2">
    Have an account? <a routerLink='/login' class='text-link'> SignIn Here </a>
    <h1>Or</h1>
    <p routerLink='/forgot'>Forgot Password</p>

  </div>
  </div>
