<div class="login-box">

  <h1>SignUp</h1>
  <form >
    <label>Name</label>
    <input
          value="sdsd"
          onChange="sdsd"
          label="Name"
          placeholder="Name"
          name="name" />
    <label>Email</label>
    <input
          value="sdsd"
          onChange="sdsd"
          label="Email"
          placeholder="john@email.com"
          name="email" />
    <label>Password</label>
    <input
          value=""
          onChange=""
          label="Password"
          placeholder="********"
          name="password"
          type="password" />

          <button
          type="submit"
          class=""
          >
            Sign Up
          </button>

  </form>
  <p class="para-2">
    Not have an account? <a routerLink='/login' class='text-link'> SignIn here </a>
  </p>
  </div>
