<div class="login-box">

  <div class="msg" *ngIf="message">
    <h2 >{{message}}</h2>
    <button *ngIf="ownotp" class="agn" (click)="sendagin()">Send Again</button>
  </div>

  <span *ngIf="signupform">
  <form (ngSubmit)="otpsend()">
    <label>Phone Number</label>
    <div class="mobile">
      <h3 >+88</h3>
    <input
    [(ngModel)]="model.pnumber"
    name="phone"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "number"
    maxlength = "11"
    placeholder="Phone Number"
    />
    </div>
    <button
          type="submit"
          class="button"
          >
            Send OTP
          </button>

  </form>

</span>

<span *ngIf="otpsended">
  <form (ngSubmit)="signup()">

    <a>*{{model.pnumber}}</a>
    <label>Your OTP</label>

    <input
    [(ngModel)]="model.otp"
    name="phone"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "number"
    maxlength = "4"
    placeholder="OTP"
    />
    <button
          type="submit"
          class="button"
          >
            Verify
          </button>

  </form>
</span>



<span *ngIf="verified">
  <form class="form" (ngSubmit)="setac()">
    <label>Set Account</label>

    <input
    [(ngModel)]="model.pnumber"
    name="phonenumber"
    type = "text"
    class="disabled"
    disabled
    />

    <br>

    <input
    [(ngModel)]="setaccount.name"
    name="name"
    type = "text"
    placeholder="Your Name"
    />
    <br>
    <input
    [(ngModel)]="setaccount.password"
    name="password"
    type = "text"
    placeholder="Password"
    />
    <button
          type="submit"
          class="button"
          >
            Set Account
          </button>

  </form>
</span>

  <div *ngIf="haveac" class="haveac">
    <a>Account Exists...</a>

    <br> <br>

    <p routerLink='/forgot'>Forgot Password</p>

  </div>

  <br>
  <div class="header">
    <a>
      Already have an account?
    </a>
    <a class="f"  routerLink='/login' > Login</a>
  </div>

  <div class="line"></div>

  <div class="social">
    <img src="assets/google.png" alt="" class="google-img">
    <span>Login with Google</span>
  </div>
  </div>
